{% extends "Plugins/Insertion/Frontend/FrontendInsertion/Pages/PageBase.twig" %}

{% block page_content %}
    {# Main details #}

    <div class="form__control">
        <label for="insertion_name"
               class="form__label">{{ i18n('insertion_name' ) }}</label>
        <input name="insertion_name"
               value="{{ data['insertion_name'] }}"
               type="text"
               class="form__input"
               placeholder="{{ i18n('insertion_name_placeholder') }}"
               data-required
               required>
    </div>

    {% for attributeGroup in attributes %}
        {% if attributeGroup.items|length > 0 and attributeGroup.name == 'main' %}
            {% for attribute in attributeGroup.items %}
                {% include 'Plugins/Insertion/Frontend/FrontendInsertion/Attributes/' ~ attribute.attributeKey.type|capitalize  ~ '.twig'  with {'attribute': attribute.attributeKey, 'required': attribute.required } %}
            {% endfor %}
        {% endif %}
    {% endfor %}

    <div class="form__control">
        <label for="insertion_name"
               class="form__label">{{ i18n('insertion_title') }}</label>
        <input name="insertion_title"
               value="{{ data['insertion_title'] }}"
               type="text"
               class="form__input"
               placeholder="{{ i18n('insertion_name_placeholder') }}"
               data-required
               required>
    </div>
    <div class="form__control">
        {% include 'Plugins/Insertion/Frontend/Components/Content/ImageUpload.twig' %}
    </div>

{% endblock page_content %}
