{% block step_content %}
    {% include "Plugins/Insertion/Frontend/FrontendInsertion/Pages/Header.twig" %}

    <form class="form form--insertion"
          action="{{ url('insertions_createSteps', { type : type.id, page: page + 1}) }}"
          method="post"
          enctype="multipart/form-data"
    >
        {{ o_dump() }}
        <div class="form-controls">
            <div class="form__control">

                <div class="form__control">

                    <label for="insertion_name"
                           class="form__label">{{ i18n('insertion_name') }}</label>

                    <input
                            name="insertion_name"
                            value="{{ data[page - 1]['insertion_name'] }}"
                            type="name"
                            class="form__input form__input"
                            placeholder="{{ i18n('insertion_name_placeholder') }}"
                            required>
                </div>

                <div class="form__control">
                    TODO Lebensnummer
                </div>


                <div class="form__control">

                    <label for="insertion_name"
                           class="form__label">{{ i18n('insertion_title') }}</label>

                    <input
                            name="insertion_title"
                            value="{{ data[page]['insertion_title'] }}"
                            type="name"
                            class="form__input form__input"
                            placeholder="{{ i18n('insertion_name_placeholder') }}"
                            required>
                </div>


                <ul class="image-upload">
                    {% for image in data[page]['images'] %}
                        <li>
                           TODO: Delete
                            <img  width="300" src="{{ media(image.path, 300) }}"/>
                        </li>
                    {% endfor%}

                    <li>
                        <input type="file" name="images[0]" accept="image/*" onchange="loadFile(event, 0)">
                        <img id="output0" width="300" />
                    </li>
                    <li>
                        <input type="file" name="images[1]" accept="image/*" onchange="loadFile(event, 1)">
                        <img id="output1" width="300" />
                    </li>
                    <li>
                        <input type="file" name="images[2]" accept="image/*" onchange="loadFile(event, 2)">
                        <img id="output2" width="300" />
                    </li>


                    <script>
                        var loadFile = function (event, index) {
                            var output = document.getElementById('output' + index);
                            output.src = URL.createObjectURL(event.target.files[0]);
                        };
                    </script>
                </ul>

                TODO content information
                - name
                - title
                - media

            </div>


            <div class="form__control">
                <input type="hidden" name="token" value="{{ token() }}">
                <input type="hidden" name="current_page" value="{{ page }}">
                <input type="submit"
                       value="{{ i18n('save_and_next_step') }}"
                       class="form__input form__input--submit button">
            </div>
        </div>
    </form>


{% endblock step_content %}
