<div class="blog-post-comment">
    <div>{{ blogPostComment.title }}</div>
    <div>{{ blogPostComment.created }}</div>
    <div>{{ blogPostComment.author.detail.firstName }} {{ blogPostComment.author.detail.lastName }}</div>
    <div>{{ blogPostComment.content }}</div>
</div>
