{% block cms_content_type_list %}
    <div class="col-xs-3 cms-content-type-list-container" id="cms_content_type_list_container">
        <div class="cms-content-type-list" id="cms_content_type_list">

            {% for contentTypeGroup in contentTypeGroups %}
                <div class="row">
                    <a href="#" class="content-type-group-header"   data-toggle="collapse" data-target="#contenttypegroup_{{ contentTypeGroup.id }}" aria-expanded="false" aria-controls="contenttypegroup_{{ contentTypeGroup.id }}">{{ contentTypeGroup.description }}<span class="caret"></span></a>
                </div>

                <div class="row collapse in" id="contenttypegroup_{{ contentTypeGroup.id }}">
                    {% for type in contentTypeGroup.types %}
                        <div class="content-type-selector jstree_draggable" data-ct-id="{{ type.id }}">
                            <div draggable="false"><img class="content-type-icon" src="{{ type.icon }}"
                                                        draggable="false">
                            </div>
                            <div class="content-type-description" draggable="false">{{ type.description }}</div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock cms_content_type_list %}
