{% block cms_page_builder_form %}
    <form id="cms_page_builder_form" action="{{ url('backend_content_pages') }}" method="post"
          enctype="multipart/form-data">
        <input name="cms_form" type="hidden" value="cms_page_builder_form">
        <input id="cms_page_jstree_selected_page" name="cms_page_jstree_selected_page" type="hidden"
               value="{{ post.cms_page_jstree_selected_page }}">
        <input id="cms_page_selected_language" name="cms_page_selected_language" type="hidden"
               value="{{ post.cms_page_selected_language }}">
        <input id="cms_page_selected_element" name="cms_page_selected_element" type="hidden"
               value="{{ post.cms_page_selected_element }}">
        <input id="cms_page_create_content_with_type_id" name="cms_page_create_content_with_type_id" type="hidden"
               value="{{ post.cms_page_create_content_with_type_id }}">
        <input id="cms_page_create_content_at_order_index" name="cms_page_create_content_at_order_index" type="hidden"
               value="{{ post.cms_page_create_content_at_order_index }}">
        <input id="cms_page_delete_content_with_id" name="cms_page_delete_content_with_id" type="hidden">
        <input id="cms_page_delete_content_at_order_index" name="cms_page_delete_content_at_order_index" type="hidden">
        <input id="cms_page_selected_action" name="cms_page_selected_action" type="hidden" value="edit">
    </form>

    <form data-async="true" data-replace="#messageContainer" action="{{ url('backend_content_pages_update') }}" method="post"
          enctype="multipart/form-data">
        <input name="cms_form" type="hidden" value="cms_page_builder_form">
        <input id="cms_page_jstree_selected_page" name="cms_page_jstree_selected_page" type="hidden"
               value="{{ post.cms_page_jstree_selected_page }}">
        <input id="cms_page_selected_language" name="cms_page_selected_language" type="hidden"
               value="{{ post.cms_page_selected_language }}">
        <input id="cms_page_selected_element" name="cms_page_selected_element" type="hidden"
               value="{{ post.cms_page_selected_element }}">
        <input id="cms_page_create_content_with_type_id" name="cms_page_create_content_with_type_id" type="hidden"
               value="{{ post.cms_page_create_content_with_type_id }}">
        <input id="cms_page_create_content_at_order_index" name="cms_page_create_content_at_order_index" type="hidden"
               value="{{ post.cms_page_create_content_at_order_index }}">
        <input id="cms_page_delete_content_with_id" name="cms_page_delete_content_with_id" type="hidden">
        <input id="cms_page_delete_content_at_order_index" name="cms_page_delete_content_at_order_index" type="hidden">
        <input id="cms_page_selected_action" name="cms_page_selected_action" type="hidden" value="submit">

        <div id="messageContainer">

        </div>


        {% if contents.form and contentElementData %}
            <div id="content-element-data" class="form-group">
                {% include contents.form with {'data': contentElementData} only %}
            </div>
        {% endif %}

        {% if post.cms_page_selected_element %}
            <button type="button" class="btn btn-danger" id="cms-page-builder-cancel"
                    data-pb-se="{{ post.cms_page_selected_element }}">{{ i18n('back') }}</button>
        {% endif %}

        {% if contents.type and not contents.isContainer %}
            <input type="submit" class="btn btn-primary" data-pb-se="{{ post.cms_page_selected_element }}"
                   value="{{ i18n('backend_crud_save') }}" />
        {% endif %}
    </form>
{% endblock cms_page_builder_form %}
