{% block product_panel %}
    <div class="panel panel--product product">
        <a href="{{ url("insertions_detail", {id: item.id}) }}" class="product__image">
            {% if item.media is defined and item.media|length > 0 and item.media[0].content is defined %}
                <img src="{{ media(item.media[0].content, 300) }}" alt="{{ item.content[0].name }}"
                     class="image">
            {% else %}
                <svg class="icon icon--placeholder">
                    <use xlink:href="#placeholder-insertion"></use>
                </svg>
            {% endif %}
            <div class="badge badge--image badge--top-left"></div>
            <div class="label label--image label--top-right"></div>
        </a>
        <div class="product__attributes product__attributes--main">

            {% for topvalue in item.topvalues|slice(0,3) %}
                {% include 'Plugins/Insertion/Frontend/Components/Content/ProductAttribute.twig' with {topvalue: topvalue } %}
            {% endfor %}
        </div>
        <div class="product__content">
            <h3 class="product__title">{{ insertion.content[0].title }}</h3>
            <div class="product__attributes product__attributes--top">
                <div class="product__attribute">
                    <span class="product__label">{{ i18n('insertion_name') }}</span>
                    <span class="product__value">{{ insertion.content[0].name }}</span>
                </div>
                <div class="product__attribute">
                    <span class="product__label">{{ i18n('insertion_price') }}</span>
                    <span class="product__value">{{ insertion.price }} € {% if (insertion.tax) %} (Netto) {% else %} (Brutto){% endif %}</span>

                </div>
                <div class="product__attribute">
                    <span class="product__label">{{ i18n('insertion_duration') }}</span>
                    <span class="product__value">Unlimited</span>
                </div>
            </div>
            <div class="product__actions">
                    <a class="button button--primary" href="{{ url('insertions_edit', {id: insertion.id}) }}">Inserat bearbeiten</a>
                {% if insertion.active %}
                    <a class="button button--primary" href="{{ url('frontend_account_insertions_disable', {id: insertion.id}) }}">Inserat deaktivieren</a>
                {% else %}
                    <a class="button button--primary" href="{{ url('frontend_account_insertions_activate', {id: insertion.id}) }}">Inserat aktivieren</a>
                {% endif %}
                <a class="button button--primary" href="{{ url('frontend_account_insertions_delete', {id: insertion.id}) }}">Inserat löschen</a>

            </div>
        </div>
    </div>
{% endblock %}
