{% set searchBookmarkCount = 1 %}
{% for item in bookmarks %}
    <div class="search__bookmark" xmlns="http://www.w3.org/1999/html">
        <h3 class="bookmark__title">{{ i18n('search_bookmark_title', 'Gespeicherte Suche') }}
            #{{ searchBookmarkCount }}</h3>

        <span class="tag bookmark__tag">
            <span class="tag__text">{{ i18n(item.insertionType.name) }}</span>
        </span>

        {% for f, value in item.params %}
            {% if f is same as ("price") %}
                <span class="tag bookmark__tag" data-key="{{ f }}">
                    <span class="tag__text">{{ i18n(f) }} {{ value[0] }} {{ i18n(f ~ '_between') }}   {{ value[1] }}</span>
                </span>
            {% elseif value is iterable %}
                {% for v in value %}
                    <span class="tag bookmark__tag" data-key="{{ f }}" data-value="{{ v }}">
                        <span class="tag__text">{{ i18n(f) }} {{ values[v] }}</span>
                    </span>
                {% endfor %}
            {% else %}
                <span class="tag bookmark__tag" data-key="{{ f }}" data-value="{{ value }}">
                    {% if keys[f].type is same as( 'boolean') %}
                        <span class="tag__text">{{ i18n(f) }}</span>
                    {% else %}
                        <span class="tag__text">{{ i18n(f) }} {{ values[value] }}</span>
                    {% endif %}
                </span>
            {% endif %}
        {% endfor %}

        <div class="bookmark__actions">
            <a href="{{ item.url }}"
               class="button button--primary search-button">{{ i18n('show_search_results', 'Suchergebnisse anzeigen') }}
                <svg class="icon">
                    <use xlink:href="#preview"></use>
                </svg>
            </a>

            <form method="post"
                  action="{{ url('frontend_account_insertions_removeSearchBookmark', {'searchBookmarkId': item.id }) }}"
                  enctype="multipart/form-data">

                <label class="delete-bookmark">
                    <input type="submit"
                           value="{{ i18n('delete_search_bookmark', 'Löschen') }}" />
                    <svg class="icon icon--primary">
                        <use xlink:href="#delete"></use>
                    </svg>
                </label>
            </form>
        </div>
    </div>

    {% set searchBookmarkCount = searchBookmarkCount + 1 %}
{% endfor %}
