{#{% block product_panel %}#}
{#    <div class="panel panel--product product">#}
{#        <a href="{{ url("insertions_detail", {id: insertion.id}) }}" class="product__image">#}
{#            {% if insertion.media is defined and insertion.media|length > 0 and insertion.media[0].content is defined %}#}
{#                <img src="{{ media(insertion.media[0].content, 300) }}" alt="{{ insertion.content[0].name }}"#}
{#                     class="image">#}
{#            {% else %}#}
{#                <!-- TODO add dummy image -->#}
{#                <img src="https://placeponi.es/300/300" alt="ponie" class="image">#}
{#            {% endif %}#}
{#            <div class="badge badge--image badge--top-left"></div>#}
{#            <div class="label label--image label--top-right"></div>#}
{#        </a>#}
{#        <div class="product__content">#}
{#            <div class="product__title">#}
{#                <h3>{{ insertion.content[0].title }}</h3>#}

{#            </div>#}
{#            <div class="product__attributes product__attributes--top">#}
{#                <div class="wrapper">#}
{#                    <div class="product__attribute">#}
{#                        <span class="product__label">{{ i18n('insertion_name') }}</span>#}
{#                        <span class="product__value">{{ insertion.content[0].name }}</span>#}
{#                    </div>#}
{#                    <div class="product__attribute">#}
{#                        <span class="product__label">{{ i18n('insertion_price') }}</span>#}
{#                        <span class="product__value">{{ insertion.price }} € {% if (insertion.tax) %} (Netto) {% else %} (Brutto){% endif %}</span>#}

{#                    </div>#}
{#                    <div class="product__attribute">#}
{#                        <span class="product__label">{{ i18n('insertion_duration') }}</span>#}
{#                        <span class="product__value">Unlimited</span>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="product__actions">#}
{#                <a class="button button--primary edit" href="{{ url('insertions_edit', {id: insertion.id}) }}"><span>Inserat bearbeiten</span>#}
{#                </a>#}

{#                <a class="button button--primary highlight" href="#"><span>Inserat hervorheben</span><i#}
{#                            class="icon icon--inverted"></i></a>#}
{#                {% if insertion.active %}#}
{#                    <a class="button button--primary disable"#}
{#                       href="{{ url('frontend_account_insertions_disable', {id: insertion.id}) }}"><span>Inserat deaktivieren</span></a>#}
{#                {% else %}#}
{#                    <a class="button button--primary activate"#}
{#                       href="{{ url('frontend_account_insertions_activate', {id: insertion.id}) }}"><span>Inserat aktivieren</span></a>#}
{#                {% endif %}#}
{#                <a class="button button--primary delete"#}
{#                   href="{{ url('frontend_account_insertions_delete', {id: insertion.id}) }}"><span>Inserat löschen</span></a>#}

{#                <div class="mobile-buttons">#}
{#                    <a class="mobile-button" href="{{ url('insertions_edit', {id: insertion.id}) }}"><i#}
{#                                class="icon"></i></a>#}
{#                    {% if insertion.active %}#}
{#                        <a class="mobile-button"#}
{#                           href="{{ url('frontend_account_insertions_disable', {id: insertion.id}) }}"><i#}
{#                                    class="icon"></i></a>#}
{#                    {% else %}#}
{#                        <a class="mobile-button"#}
{#                           href="{{ url('frontend_account_insertions_activate', {id: insertion.id}) }}"><i#}
{#                                    class="icon"></i></a>#}
{#                    {% endif %}#}
{#                    <a class="mobile-button" href="{{ url('frontend_account_insertions_delete', {id: insertion.id}) }}"><i#}
{#                                class="icon"></i></a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}

{% extends 'Plugins/Insertion/Frontend/Components/Content/ProductPanel.twig' %}
    {% block attributes__main %}
        <div class="product__attribute">
            <span class="product__label">{{ i18n('insertion_name') }}</span>
            <span class="product__value">{{ insertion.content[0].name }}</span>
        </div>
        <div class="product__attribute">
            <span class="product__label">{{ i18n('insertion_price') }}</span>
            <span class="product__value">{{ insertion.price }} € {% if (insertion.tax) %} (Netto) {% else %} (Brutto){% endif %}</span> <!-- TODO: Snippify -->

        </div>
        <div class="product__attribute">
            <span class="product__label">{{ i18n('insertion_duration') }}</span>
            <span class="product__value">Unlimited</span>
        </div>
    {% endblock attributes__main %}