{% extends 'Plugins/Insertion/Frontend/Components/Content/ProductPanel.twig' %}

{% block attributes__main %}
    <div class="product__attribute">
        <span class="product__label">{{ i18n('name') }}</span>
        <span class="product__value">{{ insertion.content[0].name }}</span>
    </div>
    <div class="product__attribute">
        <span class="product__label">{{ i18n('price') }}</span>
        <span class="product__value">{{ insertion.price }} € {% if (insertion.tax) %} (Netto) {% else %} (Brutto){% endif %}</span>
        <!-- TODO: Snippify -->
    </div>
    <div class="product__attribute">
        <span class="product__label">{{ i18n('duration') }}</span>
        <span class="product__value">Unlimited</span>
    </div>
{% endblock attributes__main %}

{% block attributes__bottom %}
    <div class="product__actions">
        <a class="button button--primary edit"
           href="{{ url('insertions_edit', {id: insertion.id}) }}">
            <span>{{ i18n('edit') }}</span>
            <i class="icon icon--inverted"></i>
        </a>

        <a class="button button--primary highlight" href="#">
            <span>{{ i18n('highlight') }}</span>
            <i class="icon icon--inverted"></i>
        </a>
        {% if insertion.active %}
            <a class="button button--primary disable"
               href="{{ url('frontend_account_insertions_disable', {id: insertion.id}) }}">
                <span>{{ i18n('disable') }}</span>
                <i class="icon icon--inverted"></i></a>
            </a>
        {% else %}
            <a class="button button--primary activate"
               href="{{ url('frontend_account_insertions_activate', {id: insertion.id}) }}">
                <span>{{ i18n('activate') }}</span>
                <i class="icon icon--inverted"></i>
        {% endif %}
        <a class="button button--primary delete"
           href="{{ url('frontend_account_insertions_delete', {id: insertion.id}) }}">
            <span>{{ i18n('delete') }}</span>
            <i class="icon icon--inverted"></i>
        </a>

        <div class="mobile-buttons">
            <a class="mobile-button" href="{{ url('insertions_edit', {id: insertion.id}) }}">
                <i class="icon"></i>
            </a>
            {% if insertion.active %}
                <a class="mobile-button"
                   href="{{ url('frontend_account_insertions_disable', {id: insertion.id}) }}">
                    <i class="icon"></i>
                </a>
            {% else %}
                <a class="mobile-button"
                   href="{{ url('frontend_account_insertions_activate', {id: insertion.id}) }}">
                    <i class="icon"></i>
                </a>
            {% endif %}
            <a class="mobile-button" href="{{ url('frontend_account_insertions_delete', {id: insertion.id}) }}">
                <i class="icon"></i>
            </a>
        </div>
    </div>
{% endblock attributes__bottom %}

{% block attributes__top %}
    <div class="product__attributes product__attributes--top">
        <div class="product__attribute">
            <span class="product__label">{{ i18n('insertion_name') }}</span>
            <span class="product__value">{{ insertion.content[0].name }}</span>
        </div>
        <div class="product__attribute">
            <span class="product__label">{{ i18n('insertion_price') }}</span>
            <span class="product__value">{{ insertion.price }} € {% if (insertion.tax) %} (Netto) {% else %} (Brutto){% endif %}</span>
            <!-- TODO: Snippify -->

        </div>
        <div class="product__attribute">
            <span class="product__label">{{ i18n('insertion_duration') }}</span>
            <span class="product__value">Unlimited</span>
        </div>
    </div>
{% endblock attributes__top %}

{% block product__meta %}
{% endblock product__meta %}

