{% extends  'Frontend/Components/Insertions/UserInsertion.twig' %}

{% block panel__classes %}
   {{ parent() }} {% if item.deleted %}is--deleted{% elseif not item.active %}is--deactivated{% endif %}
{% endblock panel__classes %}

{% block product_preview %}
    {{ parent() }}
    {% if item.deleted %}
        <div class="product__image_overlay--deleted"><span>{{ i18n('insertion_bookmark_overlay_deleted', {
            en: 'deleted',
            de: 'gelöscht',
        }) }}</span></div>
    {% elseif not item.active %}
        <div class="product__image_overlay--deactivated"><span>{{ i18n('insertion_bookmark_overlay_deactivated', {
            en: 'deactivated',
            de: 'deaktiviert',
        }) }}</span></div>
    {% endif %}
{% endblock product_preview %}

{% block attributes__main %}
    {% if item.content[0].name is not empty %}
        <div class="product__attribute">
            <span class="product__label">{{ i18n('name') }}</span>
            <span class="product__value">{{ item.content[0].name }}</span>
        </div>
    {% endif %}
    <div class="product__attribute">
        <span class="product__label">{{ i18n('price') }}</span>
        <span
            class="product__value">{{ item.price }} € {% if (item.tax) %} (Netto) {% else %} (Brutto){% endif %}</span>
    </div>
    <div class="product__attribute">
        <span class="product__label">{{ i18n('seller') }}</span>
        <span class="product__value">{{ item.user.detail.nickName }}</span>
    </div>
{% endblock attributes__main %}

{% block attributes__top %}
    <div class="product__attributes product__attributes--top">
        <div class="product__attribute">
            <span class="product__label">{{ i18n('insertion_price') }}</span>
            {% if item.priceType is same as("on_demand")  %}
                <span class="product__value">{{ i18n('price_on_demand') }}</span>
            {% elseif  item.priceType == "price_range" %}
                <span class="preview__value">{{item.minPrice < item.price ? item.minPrice|localizedcurrency('EUR', meta.language.iso) : item.price|localizedcurrency('EUR', meta.language.iso)}} - {{item.minPrice < item.price ? item.price|localizedcurrency('EUR', meta.language.iso) : item.minPrice|localizedcurrency('EUR', meta.language.iso)}}</span>
            {% else %}
                <span class="product__value">{% if item.priceType is same as("negotiable") %}{{ i18n('price_negotiable') }}{% endif %} {{ item.price|number_format(0, ',', '.') }} € {% if (item.tax) %} ({{ i18n('vat_identificationable') }}){% endif %}</span>
            {% endif %}
        </div>
        <div class="product__attribute">
            <span class="product__label">{{ i18n('seller') }}</span>
            <span class="product__value">{{ item.user.detail.nickName }}</span>
        </div>
    </div>
{% endblock attributes__top %}

{% block attributes__bottom %}
    <div class="product__actions">
        <a class="button button--primary open" {{
            attr({
                href: url("insertions_detail", {id: item.id}),
                title: item.deleted ? i18n('insertion_deleted', {
                    en: 'Insertion has been deleted',
                    de: 'Inserat wurde gelöscht',
                }) : (item.active ? i18n('open_insertion') : i18n('insertion_deactivated', {
                    en: 'Insertion has been deactivated',
                    de: 'Inserat wurde deaktiviert',
                }) ),
            })
        }}>
            <span>{{ i18n('open_insertion') }}</span>
            <svg class="icon icon--light">
                <use xlink:href="#preview"></use>
            </svg>
        </a>
        <a class="button button--primary remove"
           href="{{ url('frontend_account_insertions_removeBookmark' , {id: bookmark.id}) }}">
            <span>{{ i18n('remove_bookmark') }}</span>
            <svg class="icon icon--light">
                <use xlink:href="#delete"></use>
            </svg>
        </a>
    </div>
    <div class="product__actions__mobile">
        <a class="button button--primary open"
           href="{{ url("insertions_detail", {id: item.id}) }}">
            <svg class="icon icon--light">
                <use xlink:href="#preview"></use>
            </svg>
        </a>
        <a class="button button--primary remove"
           href="{{ url('frontend_account_insertions_removeBookmark' , {id: bookmark.id}) }}">
            <svg class="icon icon--light">
                <use xlink:href="#delete"></use>
            </svg>
        </a>
    </div>
{% endblock attributes__bottom %}
