{% block pagecontent %}
    <div class="modal" id="media-chooser">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">{{ i18n('image_chooser') }}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <form id="upload-media-form">
                                <div class="input-group media-chooser--upload-button">
                                    <label class="form-control upload-media"
                                           for="upload-media">{{ i18n('upload_media') }}</label>
                                    <input type="file" style="visibility: hidden; position: absolute"
                                           name="upload-media" id="upload-media"
                                           accept="image/*" />
                                    <label class="input-group-addon upload-media" for="upload-media">
                                        <i class="fa fa-fw fa-upload"></i>
                                    </label>
                                </div>
                            </form>
                        </div>
                        <div class="col-xs-6">
                            <div class="input-group">
                                <input type="text" class="form-control" id="search-media"
                                       placeholder="{{ i18n('search_media') }}" />
                                <span class="input-group-addon"><i class="fa fa-fw fa-search"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <small>{{- i18n('Click or drop file in popup to upload new file.', {
                                    en: 'Click button or drop file in popup to upload new file.',
                                    de: 'Klicken Sie auf die Schaltfläche oder legen Sie die Datei im Popup-Fenster ab, um eine neue Datei hochzuladen.',
                                }) -}}
                            </small>
                        </div>
                    </div>
                    <hr class="my-4" />
                    <div id="image-container">
                        {% include 'Backend/Media/Ajax/RenderItems.twig' %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left"
                            data-dismiss="modal">{{ i18n('close') }}</button>
                    <button type="button" class="btn btn-default pull-right media-chooser-reset"
                            data-dismiss="modal">{{ i18n('reset') }}</button>
                    <button type="button" class="btn btn-default pull-right no-media-item"
                            data-dismiss="modal">{{ i18n('clear') }}</button>
                </div>
            </div>

            <div class="overlay">
                <i class="fa fa-refresh fa-spin"></i>
            </div>

            <div class="drop-overlay">
                <span>{{- i18n('Upload dropped file', {
                        en: 'Upload file',
                        de: 'Datei hochladen',
                    }) -}}
                </span>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

{% endblock %}
