<div class="form__control">
    <label for="{{ attribute.name }}" class="form__label form__label--checkbox {{ label_class }}"> {{  i18n(attribute.name) }}</label>
    <input type="checkbox"
           class="form__input form__input--checkbox-small"
           name="{{ attribute.name }}"
           id="{{ attribute.name }}"
            {% if data['insertion'][attribute.id] == 'on' %}
                checked="checked"
            {% endif %}
    >
</div>
