{% set unit = unit is not empty ? unit : i18n('unit_' ~ attribute.name,'') %}

<div class="form__control form__control__range">
    {% if omitLabel is not defined %}<label class="form__label">{{ i18n(attribute.name) }}</label>{% endif %}
    <div class="form__control form__control--half-medium">
        <label for="{{ attribute.name }}_0"
               class="form__input form__input--inside-label">
            <input type="number"
                   name="{{ attribute.name }}[min]"
                   id="{{ attribute.name }}_0"
                   value="{% if search.filter[attribute.name] is defined %}{{ search.filter[attribute.name]['min'] }}{% else %}{% endif %}"
                   step="1"
                   min="0"
                   placeholder="{{ i18n('from') }}"
                   class="form__input" />

            {% if unit is not empty %}
                <span class="input__unit">
                {{ unit }}
                </span>
            {% endif %}
        </label>
        <label for="{{ attribute.name }}_1"
               class="form__input form__input--inside-label">
            <input type="number"
                   name="{{ attribute.name }}[max]"
                   id="{{ attribute.name }}_1"
                   value="{% if search.filter[attribute.name] is defined %}{{ search.filter[attribute.name]['max'] }}{% else %}{% endif %}"
                   step="1"
                   min="0"
                   placeholder="{{ i18n('to') }}"
                   class="form__input" />
            {% if unit is not empty %}
                <span class="input__unit">
                {{ unit }}
            </span>
            {% endif %}
        </label>
    </div>
</div>
