{% block distance %}
    <div class="form__control">
        <div class="form__input form__input--select">
            <select class="form__input form__input--no-input" name="country">
                <option value="germany" selected="selected">{{ i18n('germany') }}</option>
                <option value="austria">{{ i18n('austria') }}</option>
                <option value="switzerland">{{ i18n('switzerland') }}</option>
                <option value="netherlands">{{ i18n('netherlands') }}</option>
            </select>
        </div>
    </div>
    <div class="form__control form__control--half-medium">
        <input type="text"
               name="zip"
               placeholder="{{ i18n('zip') }}"
               class="form__input"
        />
        <div class="form__input form__input--select">
            <select class="form__input form__input--no-input" name="zip_range">
                <option value="1">{{ i18n('exact') }}</option>
                <option value="5">{{ i18n('zip_range_5', '5 km') }}</option>
                <option value="10">{{ i18n('zip_range_10', '10 km') }}</option>
                <option value="20">{{ i18n('zip_range_20', '20 km') }}</option>
                <option value="30">{{ i18n('zip_range_30', '30 km') }}</option>
                <option value="50">{{ i18n('zip_range_50', '50 km') }}</option>
                <option value="100">{{ i18n('zip_range_100', '100 km') }}</option>
                <option value="150">{{ i18n('zip_range_150', '150 km') }}</option>
                <option value="200">{{ i18n('zip_range_200', '200 km') }}</option>
            </select>
        </div>
    </div>
{% endblock distance %}
