{% block distance %}
    <div class="form__control">
        <label class="form__label" for="country">{{ i18n('country') }}</label>
        <div class="form__control">
            <div class="form__input form__input--select">
                <select class="form__input form__input--no-input" name="country">
                    <option {% if search.filter.radius.country == 'germany' %}selected="selected"{% endif %}
                            value="germany"
                            selected="selected">{{ i18n('germany') }}</option>
                    <option {% if search.filter.radius.country == 'austria' %}selected="selected"{% endif %}
                            value="austria">{{ i18n('austria') }}</option>
                    <option {% if search.filter.radius.country == 'switzerland' %}selected="selected"{% endif %}
                            value="switzerland">{{ i18n('switzerland') }}</option>
                    <option {% if search.filter.radius.country == 'netherlands' %}selected="selected"{% endif %}
                            value="netherlands">{{ i18n('netherlands') }}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form__control">
        <label class="form__label" for="country">{{ i18n('range') }}</label>
        <div class="form__control form__control--half-medium">
            <input type="text"
                   name="zip"
                   placeholder="{{ i18n('zip') }}"
                   class="form__input form__input--zip"
                   value="{{ search.filter.radius.zip }}"
            />
            <div class="form__input form__input--select form__input--distance">
                <select class="form__input form__input--no-input" name="zip_range">
                    <option {% if search.filter.radius.zip_range == 1 %}selected="selected"{% endif %}
                            value="1">{{ i18n('zip_range_1') }}</option>
                    <option {% if search.filter.radius.zip_range == 5 %}selected="selected"{% endif %}
                            value="5">{{ i18n('zip_range_5', '5 km') }}</option>
                    <option {% if search.filter.radius.zip_range == 10 %}selected="selected"{% endif %}
                            value="10">{{ i18n('zip_range_10', '10 km') }}</option>
                    <option {% if search.filter.radius.zip_range == 20 %}selected="selected"{% endif %}
                            value="20">{{ i18n('zip_range_20', '20 km') }}</option>
                    <option {% if search.filter.radius.zip_range == 30 %}selected="selected"{% endif %}
                            value="30">{{ i18n('zip_range_30', '30 km') }}</option>
                    <option {% if search.filter.radius.zip_range == 50 %}selected="selected"
                            {% endif %}value="50">{{ i18n('zip_range_50', '50 km') }}</option>
                    <option {% if search.filter.radius.zip_range == 100 %}selected="selected"
                            {% endif %}value="100">{{ i18n('zip_range_100', '100 km') }}</option>
                    <option {% if search.filter.radius.zip_range == 150 %}selected="selected"
                            {% endif %}value="150">{{ i18n('zip_range_150', '150 km') }}</option>
                    <option {% if search.filter.radius.zip_range == 200 %}selected="selected"
                            {% endif %}value="200">{{ i18n('zip_range_200', '200 km') }}</option>
                </select>
            </div>

        </div>
    </div>
{% endblock distance %}
