<div class="form__control">
    <label for="{{ attribute.name }}"
           class="form__input form__input--inside-label">
        <input type="number"
               name="{{ attribute.name }}"
               id="{{ attribute.name }}"
               value="{{ search.filter[attribute.name] }}"
               class="form__input"
               placeholder="{{ i18n(attribute.name) }}"
        />
        {% set unit = i18n('unit_' ~  attribute.name, '') %}
        {% if unit is not empty %}
            <span class="input__unit">
                {{ unit }}
            </span>
        {% endif %}
    </label>
</div>
