<div class="form__control form__control--half-medium">

    <label for="price-from"
           class="form__input form__input--inside-label">
        <input type="number"
               name="price[]"
               id="price-from"
               value="{% if search.filter['price'] is defined %}{{ search.filter['price'][0] }}{% else %}0{% endif %}"
               step="1"
               min="0"
               placeholder="{{ i18n('from') }}"
               class="form__input" />
        {% if i18nExists('unit_price') %}
            <span class="input__unit">
                {{ i18n('unit_price') }}
            </span>
        {% endif %}
    </label>

    <label for="price-to"
           class="form__input form__input--inside-label">
        <input type="number"
               name="price[]"
               id="price-to"
               value="{% if search.filter['price'] is defined %}{{ search.filter['price'][1] }}{% else %}2000000{% endif %}"
               step="1"
               min="0"
               placeholder="{{ i18n('to') }}"
               class="form__input" />
        {% if i18nExists('unit_price') %}
            <span class="input__unit">
                {{ i18n('unit_price') }}
            </span>
        {% endif %}
    </label>
</div>
