<div class="form__control">
    {% if omitLabel is not defined %}<label class="form__label">{{ i18n('price') }}</label>{% endif %}
    <div class="form__control form__control--half-medium">

        <label for="price-from"
               class="form__input form__input--inside-label">
            <input type="number"
                   name="price[min]"
                   id="price-from"
                   value="{% if search.filter['price'] is defined %}{{ search.filter['price']['min'] }}{% else %}{% endif %}"
                   step="1"
                   min="0"
                   max="2000000"
                   placeholder="{{ i18n('from') }}"
                   class="form__input" />
            {% set unit = i18n('unit_price','') %}
            {% if unit is not empty %}
                <span class="input__unit">
                {{ unit }}
            </span>
            {% endif %}
        </label>

        <label for="price-to"
               class="form__input form__input--inside-label">
            <input type="number"
                   name="price[max]"
                   id="price-to"
                   value="{% if search.filter['price'] is defined %}{{ search.filter['price']['max'] }}{% else %}{% endif %}"
                   step="1"
                   min="0"
                   max="2000000"
                   placeholder="{{ i18n('to') }}"
                   class="form__input" />
            {% set unit = i18n('unit_price','') %}
            {% if unit is not empty %}
                <span class="input__unit">
                {{ unit }}
            </span>
            {% endif %}
        </label>
    </div>
</div>
