<div class="form__control form__control__range">
    {% if omitLabel is not defined %}<label class="form__label">{{ i18n(attribute.name) }}</label>{% endif %}
    <div class="form__control form__control--half-medium">
        <label for="{{ attribute.name }}-from"
               class="form__input form__input--inside-label">
            <input type="number"
                   name="{{ attribute.name }}[min]"
                   id="insertion[{{ attribute.name }}]-from"
                   value="{{ search.filter[attribute.name]['min'] }}"
                   step="1"
                   min="0"
                   placeholder="{{ i18n('from') }}"
                   class="form__input" />
            {% set unit = i18n('unit_' ~  attribute.name, '') %}
            {% if unit is not empty %}
                <span class="input__unit">
                {{ unit }}
            </span>
            {% endif %}
        </label>

        <label for="{{ attribute.name }}-to"
               class="form__input form__input--inside-label">
            <input type="number"
                   name="{{ attribute.name }}[max]"
                   id="{{ attribute.name }}]-to"
                   value="{{ search.filter[attribute.name]['max'] }}"
                   step="1"
                   min="0"
                   placeholder="{{ i18n('to') }}"
                   class="form__input" />
            {% set unit = i18n('unit_' ~  attribute.name, '') %}
            {% if unit is not empty %}
                <span class="input__unit">
                {{ unit }}
            </span>
            {% endif %}
        </label>
    </div>

</div>
