<div class="form__control form__control--half-medium">

    <label for="insertion[{{ attribute.id }}]-from"
           class="form__input form__input--inside-label">
        <input type="number"
               name="insertion[{{ attribute.id }}]"
               id="insertion[{{ attribute.id }}]-from"
               value=""
               step="1"
               min="0"
               placeholder="{{ i18n('from') }}"
               class="form__input" />
        {% if i18nExists('unit_' ~  attribute.name) %}
            <span class="input__unit">
                {{ i18n('unit_' ~  attribute.name) }}
            </span>
        {% endif %}
    </label>

    <label for="insertion[{{ attribute.id }}]-to"
           class="form__input form__input--inside-label">
        <input type="number"
               name="insertion[{{ attribute.id }}]"
               id="insertion[{{ attribute.id }}]-to"
               value=""
               step="1"
               min="0"
               placeholder="{{ i18n('to') }}"
               class="form__input" />
        {% if i18nExists('unit_' ~  attribute.name) %}
            <span class="input__unit">
                {{ i18n('unit_' ~  attribute.name) }}
            </span>
        {% endif %}
    </label>
</div>
