<div class="form__control">
    <label class="form__label">{{ i18n(attribute.name) }}</label>
    <div class="form__control form__control--half-medium">
        <label for="{{ attribute.name }}-from"
               class="form__input form__input--inside-label">
            <input type="number"
                   name="{{ attribute.name }}[]"
                   id="insertion[{{ attribute.name }}]-from"
                   value="{{ search.filter[attribute.name][0] }}"
                   step="1"
                   min="0"
                   placeholder="{{ i18n('from') }}"
                   class="form__input" />
            {% set unit = i18n('unit_' ~  attribute.name, '') %}
            {% if unit is not empty %}
                <span class="input__unit">
                {{ unit }}
            </span>
            {% endif %}
        </label>

        <label for="{{ attribute.name }}-to"
               class="form__input form__input--inside-label">
            <input type="number"
                   name="{{ attribute.name }}[]"
                   id="{{ attribute.name }}]-to"
                   value="{{ search.filter[attribute.name][1] }}"
                   step="1"
                   min="0"
                   placeholder="{{ i18n('to') }}"
                   class="form__input" />
            {% set unit = i18n('unit_' ~  attribute.name, '') %}
            {% if unit is not empty %}
                <span class="input__unit">
                {{ unit }}
            </span>
            {% endif %}
        </label>
    </div>

</div>