<div class="form__control form__control--half-medium">

    <label for="{{ attribute.name }}-from"
           class="form__input form__input--inside-label">
        <input type="number"
               name="{{ attribute.name }}[]"
               id="insertion[{{ attribute.name }}]-from"
               value="{{ search.filter[attribute.name][0] }}"
               step="1"
               min="0"
               placeholder="{{ i18n('from') }}"
               class="form__input" />
        {% if i18nExists('unit_' ~  attribute.name) %}
            <span class="input__unit">
                {{ i18n('unit_' ~  attribute.name) }}
            </span>
        {% endif %}
    </label>

    <label for="{{ attribute.name }}-to"
           class="form__input form__input--inside-label">
        <input type="number"
               name="{{ attribute.name }}[]"
               id="{{ attribute.name }}]-to"
               value="{{ search.filter[attribute.name][1] }}"
               step="1"
               min="0"
               placeholder="{{ i18n('to') }}"
               class="form__input" />
        {% if i18nExists('unit_' ~  attribute.name) %}
            <span class="input__unit">
                {{ i18n('unit_' ~  attribute.name) }}
            </span>
        {% endif %}
    </label>
</div>
