{# block account__content #}
{% block account_content %}
<div class="account__content flex flex--wrap">
    <div class="messenger flex flex--row">
        <div class="messenger__sidebar">
            <div class="header header--sidebar">
                <h3 class="title title--sidebar">Meine Chats</h3>
            </div>
            <ul class="chat-list">
                {% for conversation in conversationList %}
                    <li class="chat">
                        <a href="{{ url('frontend_account_messages', {id: conversation.id}) }}" class="chat__link">{{ conversation.chatPartner }} - {{ conversation.targetId }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="messenger__chat">
            <div class="header header--chat flex flex--row flex--center flex--between">
                <span class="icon"></span><h3 class="title title--chat">{{ conversation.chatPartner }}</h3><a href="{{ url('frontend_account_messages', {id: conversation.id}) }}"><span class="icon"></span></a>
            </div>
            <div class="messages">
                {% for message in conversation.messages %}
                    {% set sender = message.sender|split('_')[1] %}
                    <style>
                        .message {
                            border: 2px solid lime;
                        }
                        .message.partner {
                            border: 2px solid rebeccapurple;
                        }
                    </style>
                    <div class="message {{ sender == user.id ? '' : 'partner'}}">
                        <p>{{ sender }}</p>
                        <p>{{ message.message }}</p>
                        <p>{{ message.timestamp.date|date('Y-m-d H:i:s') }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock account_content %}
