{# block account__content #}
{% block account_content %}
<div class="account__content flex flex--wrap">
    <div class="messenger">
        <div class="messenger__sidebar">
            <div class="messenger__header messenger__header--sidebar">
                <h3 class="title title--sidebar">{{ i18n('my-chats', 'My chats') }}</h3>
            </div>

            <ul class="chat-list">
                {% for conversation in conversationList %}
                    <li class="chat">
                        <a href="{{ url('frontend_account_messages', {id: conversation.id}) }}"
                           class="chat__link flex flex--row flex--center">
                            <i class="icon icon--inverted"></i>
                            <span class="chat__text">
                                {{ conversation.chatPartner }} - {{ conversation.targetId }}
                            </span>
                            {#
                                if new messages:
                                <i class="bagde badge--chat">amount</i>
                            #}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="messenger__chat">
            <div class="messenger__header messenger__header--chat flex flex--row flex--center flex--between">

                TODO USER AVATAR

                <h3 class="title title--chat">{{ conversation.chatPartner }}</h3>
                <a href="{{ url('frontend_account_messages', {id: conversation.id}) }}">
                    <svg class="icon">
                        <use xlink:href="#circuit"></use>
                    </svg>
                </a>
            </div>
            <div class="messages">
                {% for message in conversation.messages %}
                    {% set sender = message.sender|split('_')[1] %}
                    <div class="message {{ sender == user.id ? '' : 'partner'}}">
                        <p class="sender">{{ sender }}</p>
                        <p class="message-text">{{ message.message }}</p>
                        <p class="message-date">{{ message.timestamp.date|date('Y-m-d H:i:s') }}</p>
                    </div>
                {% endfor %}
            </div>
            {% block messenger__message_form %}
                {% include 'Plugins/Messenger/Frontend/Components/Forms/MessageForm.twig' %}
            {% endblock messenger__message_form %}
        </div>
    </div>
</div>
{% endblock account_content %}
