{# block account__content #}
{% block account_content %}
    <div class="account__content flex flex--wrap">
        <div class="messenger">
            <div class="messenger__sidebar sidebar__mobile">
                <div class="messenger__header messenger__header--sidebar" data-collapse="640">
                    <h3 class="title title--sidebar">{{ i18n('my-chats', 'My chats') }}</h3>
                    <svg class="icon icon--light">
                        <use xlink:href="#arrow"></use>
                    </svg>
                </div>

                <ul class="chat-list collapsed">
                    {% for conversation in conversationList %}
                        <li class="chat" id="{{ conversation.id }}">
                            <a href="{{ url('frontend_account_messages', {id: conversation.id}) }}"
                               class="chat__link flex flex--row flex--center">
                                {% block messenger_conversation_list %}
                                    <img class="" src="{{ media(partner.imageId, 30) }}">
                                    <span class="chat__text">{{ conversation.chatPartner.name }}</span>
                                {% endblock messenger_conversation_list %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="messenger__chat">
                <div class="messenger__header messenger__header--chat flex flex--row flex--center flex--between">

                    {# default case  #}
                    {% block messenger_header %}
                        <img class="" src="{{ media(partner.imageId, 30) }}">
                        <h3 class="title title--chat">{{ partner.name }} - Default</h3>
                    {% endblock messenger_header %}

                    <a href="{{ url('frontend_account_messages', {id: activeConversation.id}) }}">
                        <svg class="icon">
                            <use xlink:href="#circuit"></use>
                        </svg>
                    </a>
                </div>
                <div class="messages">
                    {% for message in activeConversation.messages %}
                        {% set sender = message.sender %}
                        <div class="message {{ sender == user.id ? '' : 'partner' }}">
                            <p class="message-text">{{ message.message }}</p>
                            <p class="message-date">{{ message.timestamp|formatDatetime }}</p>
                        </div>
                    {% endfor %}
                </div>
                {% block messenger__message_form %}
                    {% include 'Plugins/Messenger/Frontend/Components/Forms/MessageForm.twig' %}
                {% endblock messenger__message_form %}
            </div>
        </div>
    </div>
{% endblock account_content %}
