<div class="tag" data-key="{{ f }}" data-value="{{ v }}">
    <a href="#"
       onclick="window.location.href = Oforge.updateQueryString('{{ f }}[min]', null, Oforge.updateQueryString('{{ f }}[max]'))"
       class="close"></a>
    <span class="tag__text">
            {{ i18n(f) }}
        {% set unit = i18n('unit_' ~  attribute.name, '') %}
            <span class="tag__text">{% if value.min %} {{ i18n(f ~ '_from') }} {{ value.min }} {{ unit }} {% endif %} {% if value.max %}{{ i18n(f ~ '_to') }} {{ value.max }} {{ unit }}{% endif %}</span>
</span>
</div>
