<div class="tag" data-key="{{ f }}">
    <a href="#"
       onclick="window.location.href = Oforge.updateQueryString('{{ f }}[]')"
       class="close"></a>
    <span class="tag__text">{{ value[0]|number_format(0, ',', '.') }} € {{ i18n(f ~ '_between') }}  {{ value[1]|number_format(0, ',', '.') }} €</span>
</div>