{% block forgot_password_form %}
    <form class="form form--forgot-password"
          action="{{ url('frontend_forgot_password_process') }}"
          method="post">
        <div class="form-controls">
            <div class="form__control">
                {% block forgot_password_label_email %}
                <label for="forgot-password__email"
                       class="form__label">
                    {{ i18n('email') }}
                </label>
                {% endblock forgot_password_label_email %}
                <input id="forgot-password__email"
                       name="forgot-password__email"
                       type="email"
                       class="form__input form__input {% block forgot_password_email_classes %}{% endblock forgot_password_email_classes %}"
                       placeholder="{{ i18n('email') }}"
                       required>
            </div>
            {% block forgot_password_additional_info %}
            <div class="form__control">
                {{ i18n('After clicking on "Reset password", you will receive an email with a confirmation link.') }}
            </div>
            {% endblock forgot_password_additional_info %}
            <div class="form__control">
                <input type="hidden" name="token" value="{{ token() }}">
                <input type="submit"
                       value="{{ i18n('reset_password') }}"
                       class="form__input form__input--submit button">
            </div>
        </div>
    </form>
{% endblock forgot_password_form %}