{% block forgot_password_reset_form %}
    <form class="form form--forgot-password-reset"
          action="{{ url('frontend_forgot_password_change') }}"
          method="post">
        <div class="form-controls">
            <div class="form__control">
                {% block forgot_password_reset_label_password %}
                <label for="password_change"
                       class="form__label">
                    {{ i18n('password') }}
                </label>
                {% endblock forgot_password_reset_label_password %}

                <input id="password_change"
                       name="password_change"
                       type="password"
                       class="form__input {% block forgot_password_reset_password_classes %}{% endblock forgot_password_reset_password_classes %}"
                       placeholder="{{ i18n('new password') }}"
                       required>
            </div>
            <div class="form__control">
                {% block forgot_password_reset_label_password_confirm %}
                <label for="password_change_confirm"
                       class="form__label">
                    {{ i18n('password_confirm') }}
                </label>
                {% endblock forgot_password_reset_label_password_confirm %}
                <input id="password_change_confirm"
                       name="password_change_confirm"
                       type="password"
                       class="form__input {% block forgot_password_reset_password_confirm_classes %}{% endblock forgot_password_reset_password_confirm_classes %}"
                       placeholder="{{ i18n('confirm new password') }}"
                       required>
            </div>
            <div class="form__control">
                <input type="hidden" name="token" value="{{ token() }}">
                <input type="hidden" name="guid" value="{{ guid }}">
                <input type="submit"
                       value="{{ i18n('change_password') }}"
                       class="form__input form__input--submit button">
            </div>
        </div>
    </form>
{% endblock forgot_password_reset_form %}