{% block uppy %}
    {% if uppyUploadURL %}
        {% block upload_text_area %}
            <span class="form__label form__label--title">
                {{ i18n('image_upload_title') }}{% if required %}<span class="required">*</span>{% endif %} <span class="limitations">{{ i18n('image_upload_limitations') }}</span>
            </span>
            <span class="form__label form__label--title" style="font-size: 1.4rem">
                {% if i18nExists('attribute_hint_image_upload' ) %}
                    {% set cmsContent = twig_call_function_if_exist('cms_content', 'attribute_hint_description_' ~ type.name ~ '_' ~ meta.language.iso) %}
                    {% include 'Frontend/Components/Insertions/Hint.twig' ignore missing with {
                        hint: i18n('attribute_hint_image_upload'),
                        hintContent: content} %}
                {% endif %}
                Fehler-Hinweis:
                <span class="limitations">Fälschlich gedrehte Fotos</span>
            </span>

            <div class="upload__description upload__max-size-exceeded hidden">
                <p class="description description--upload">{{ i18n('upload_max_size_exceeded') }}</p>

            </div>
            <div class="upload__description upload__item-corrupted hidden">
                <p class="description">{{ i18n('upload_image_corrupted') }}</p>
            </div>
        {% endblock upload_text_area %}
        {% block uploaded_images %}
            <div class="upload upload--image"
                 data-upload>
                <ul class="upload__list"
                    data-upload-images
                    data-text-snippet="{{ i18n('delete') }}">
                    <li class="upload__item upload__item--placeholder">
                        <div class="upload__image upload__image--new">
                            <svg class="icon icon--secondary">
                                <use xlink:href="#camera"></use>
                            </svg>
                            {{ i18n('new_photo',  {'en': 'Photo', 'de' : 'Foto'}) }}
                        </div>
                        {% if required %}<input class="upload__file_required" type="file" required>{% endif %}
                    </li>
                    {% for image in data['images'] %}
                        {% if 'image' in image.type %}
                        <li class="upload__item"
                            data-upload-id="{{ image.id }}">
                            <img class="upload__image"
                                 src="{{ media(image.path, 200) }}"
                                 alt="{{ image.name }}"
                                 data-upload-image="{{ image.id }}" />
                            <div class="upload__delete"
                                 data-upload-delete="{{ image.id }}">
                                {{ i18n('delete', {'en': 'Delete', 'de' : 'Löschen'}) }}
                            </div>
                            <div class="upload__choose-main {% if image.main %}upload__choose-main--is-main{% endif %}"
                                 data-upload-choose-main="{{ image.id }}"></div>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endblock uploaded_images %}
        {% block drop_zone %}
            <div id="drag-drop-area" data-url="{{ uppyUploadURL }}" data-required="{{ required }}"></div>
            <div class="upload__description">
                <div class="upload__main-icon"></div>
                <p class="description description--main">{{ i18n('main_image_description') }}</p>
            </div>
        {% endblock drop_zone %}

    {% else %}
        <p>please provide an url for upload</p>
    {% endif %}
{% endblock uppy %}
