{% block icontilebasic %}
    <a href="{% if data.link %}{{ url(data.link) }}{% endif %}" class="{{ data.css }} icon-tile icon-tile--basic"
       style="background-color:{{ data.backgroundcolor }};">
        <div class="content">
            <picture class="lazy">
                <source class="lazy" data-srcset="{{ media(data.url, 600) }}" media="(min-width: 640px)" />
                <img class="lazy" data-src="{{ media(data.url, 300) }}" alt="{{ data.caption }}" />
            </picture>
            <h2 style="color:{{ data.fontcolor }};">{{ data.caption }}</h2>
        </div>
    </a>
{% endblock icontilebasic %}
