<div class="form">
    <div class="form-group">
        <label>{{ i18n('type_icon', 'icon') }}</label>
        {% if data.url %}
            <div class="preview-image">
                <img src="{{ media(data.url, 200) }}" width="200" title="{{ data.url }}" />
            </div>
        {% endif %}

        <input class="form-control" name="icon" type="file" accept=".svg">
    </div>

    <div class="form-group">
        <label>{{ i18n('icon_tile_caption', 'Bildunterschrift') }}</label>
        <input type="text" name="caption" class="form-control" value="{{ data.caption }}">
    </div>

    <div class="form-group">
        <label>{{ i18n('icon_tile_link', 'Link') }}</label>
        <input type="url" name="link" class="form-control" value="{{ data.link }}">
    </div>
    <div class="form-group">
        <label>{{ i18n('open_in_new_tab', {en: 'Open in new Tab', de: 'In neuem Tab öffnen'}) }}</label>
        <div>
            {% include 'Backend/Components/Form/Switch.twig' with {
                name: 'targetBlank',
                checked: data.externalLink,
            } only %}
        </div>
    </div>
    <div class="form-group">
        <label>{{ i18n('background_color', 'Hintergrundfarbe') }}</label>
        <div>
            <input type="color" name="backgroundcolor" value="{{ data.backgroundcolor|default('#ffffff') }}" />
        </div>
    </div>
    <div class="form-group">
        <label>{{ i18n('font_color', 'Schriftfarbe') }}</label>
        <div>
            <input type="color" name="fontcolor" value="{{ data.fontcolor|default('#6f8e2b') }}" />
        </div>
    </div>

</div>
