<div class="form">
    <div class="form-group">
        <label>{{ i18n('type_icon', 'icon') }}</label>
        {% if data.url %}
            <div class="preview-image">
                <img src="{{ media(data.url, 200) }}" width="200" title="{{ data.url }}"/>
            </div>
        {% endif %}

        <input class="form-control" name="icon" type="file" accept=".svg" required>
    </div>

    <div class="form-group">
        <label>{{ i18n('icon_tile_caption', 'Bildunterschrift') }}</label>
        <input type="text" name="caption" class="form-control" value="{{ data.caption }}">
    </div>

    <div class="form-group">
        <label>{{ i18n('icon_tile_link', 'Link') }}</label>
        <input type="text" name="link" class="form-control" value="{{ data.link }}">
    </div>
    <div>
        <label>{{ i18n('background_color', 'Hintergrundfarbe') }}</label>
        <input type="color" name="backgroundcolor"
               value="{% if data.backgroundcolor %}{{ data.backgroundcolor }}{% else %}#ffffff{% endif %}">
    </div>
    <div>
        <label>{{ i18n('font_color', 'Schriftfarbe') }}</label>
        <input type="color" name="fontcolor"
               value="{% if data.fontcolor %}{{ data.fontcolor }}{% else %}#6f8e2b{% endif %}">
    </div>
</div>