{% extends "@parent/Frontend/Layout.twig" %}
{% block content %}
    {% include 'Plugins/FrontendUserManagement/Frontend/Components/AccountNavBar.twig' with { back_link : true, content_title: i18n('frontend_account_insertions_profile', 'My Profile')} %}
    <div class="account content content--edit">
        {% block account %}
            <div class="panel panel--account flex">
                {% block account__sidebar %}
                    {% include 'Plugins/FrontendUserManagement/Frontend/Components/Sidebar.twig' %}
                {% endblock account__sidebar %}

                {% block account__content %}
                    <div class="account__content flex">
                        <form action="{{ url('frontend_account_insertions_profile') }}" method="post"
                              enctype="multipart/form-data">
                            <h1 class="account__title">{{ i18n('my_profile') }}</h1>
                            <label class="center__label" for="input__background">
                                <div class="background img-background flex flex--column-center"
                                     {% if profile.background %}style="background-image: url('{{ media(profile.background.id) }}')"{% endif %}>
                                    <div class="flex flex--center">
                                        <svg class="icon icon--primary">
                                            <use xlink:href="#camera"></use>
                                        </svg>
                                    </div>
                                </div>
                            </label>

                            <div class="profile-upload upload-background">
                                <div class="flex flex--row">

                                    <input id="input__background" data-update="img-background" type="file"
                                           name="background"
                                           accept="image/*">
                                </div>
                                <div class="flex flex--row">

                                    <input id="input__profile" data-update="img-profile" type="file" name="profile"
                                           accept="image/*">
                                </div>
                            </div>
                            <div class="profile-link">
                                {% if profile is not null %}
                                    <a href="{{ url('insertions_profile', {id: profile.id }) }}">
                                        <span>{{ i18n('show_profile') }}</span>
                                        <svg class="icon icon--primary icon--mail">
                                            <use xlink:href="#fade_in"></use>
                                        </svg>
                                    </a>
                                {% endif %}
                            </div>
                            <div class="profile-pic">
                                {% set label = true %}
                                {% include 'Plugins/FrontendUserManagement/Frontend/Components/AccountUser.twig' with { label : label } %}
                            </div>
                            <div class="info__description">
                                {{ i18n('account_insertions_profile_info') }}
                            </div>

                            <div class="profile--edit">
                                <div class="description--edit">
                                    <h2 class="form__title">{{ i18n('account_profile_text') }}</h2>
                                    <textarea name="description"
                                              class="form__input">{{ profile.description }}</textarea>
                                </div>
                                <div class="impress--edit">
                                    <h2 class="form__title">{{ i18n('legal_rights') }}</h2>
                                    <input class="form__input" type="text" name="imprint_name" placeholder="{{ i18n('imprint_name') }}"
                                           value="{{ profile.imprintName }}" />
                                    <input class="form__input" type="text" name="imprint_street" placeholder="{{ i18n('imprint_street') }}"
                                           value="{{ profile.imprintStreet }}" />
                                    <input class="form__input" type="text" name="imprint_zipCity" placeholder="{{ i18n('imprint_zipCity') }}"
                                           value="{{ profile.imprintZipCity }}" />
                                    <input class="form__input" type="phone" name="imprint_phone" placeholder="{{ i18n('imprint_phone') }}"
                                           value="{{ profile.imprintPhone }}" />
                                    <input class="form__input" type="fax" name="imprint_fax" placeholder={{ i18n('imprint_fax') }}
                                           value="{{ profile.imprintFax }}" />
                                    <input class="form__input" type="email" name="imprint_email" placeholder="{{ i18n('imprint_email') }}"
                                           value="{{ profile.imprintEmail }}" />
                                    <div class="form__input">
                                        <label for="imprint_facebook">
                                            {{ i18n('facebook_base_url', 'https://www.facebook.com/') }}</label><input
                                            class="input__facebook" type="text"
                                            name="imprint_facebook"
                                            placeholder="{{ i18n('facebook_page_placeholder') }}"
                                            value="{{ profile.imprintFacebook }}" />
                                    </div>
                                    <input class="form__input" type="text" name="imprint_website"
                                           placeholder="{{ i18n('imprint_website') }}"
                                           value="{{ profile.imprintWebsite }}" />
                                    <div class="info__business">
                                        {{ i18n('account_insertions_imprint_info') }}
                                    </div>
                                    <input class="form__input" type="text" name="imprint_company_number"
                                           placeholder="{{ i18n('imprint_company_number') }}"
                                           value="{{ profile.imprintCompanyNumber }}" />
                                    <input class="form__input" type="text" name="imprint_company_tax"
                                           placeholder="{{ i18n('imprint_company_tax') }}"
                                           value="{{ profile.imprintCompanyTaxId }}" />
                                </div>
                                <div class="submit">
                                    <input type="submit" class="form__input form__input--submit button" />
                                </div>
                            </div>
                        </form>
                    </div>
                {% endblock account__content %}
            </div>
        {% endblock account %}
    </div>
{% endblock content %}
