{% block image_upload %}
    <span class="form__label form__label--title label--upload-image">
        {{ i18n('image_upload_title') }}
    </span>
    <div class="limitations">{{ i18n('image_upload_limitations') }}</div>
    <a class="link link--insertion-create"
       data-modal-view="1">{{ i18n('image_upload_tips', 'Tipps für das Hochladen von Bildern') }}</a>
    {% set content_320 = content('insertion_create_image_tipps_320') %}
    {% set content_640 = content('insertion_create_image_tipps_640') %}
    {% if content_320 and content_640 %}
    <div data-modal-content="1"
         class="modal-view">
        <div class="modal-view__close"
             data-modal-close="1">✕</div>
        <div class="modal-view__content">

            <picture class="lazy">
                <source class="lazy" data-srcset="{{ media(content_640['url']) }}" media="(min-width: 640px)" />
                <img class="lazy" data-src="{{ media(content_320['url']) }}" alt="{{ i18n('image_upload_tips') }}" />
            </picture>
        </div>
    </div>
    {% endif %}
    <div class="upload upload--image"
         data-upload>
        <ul class="upload__list"
            data-upload-images
            data-text-snippet="{{ i18n('delete') }}">
            <li class="upload__item upload__item--placeholder">
                <div class="upload__image">
                    <svg class="icon icon--secondary">
                        <use xlink:href="#camera"></use>
                    </svg>
                </div>
            </li>
            {% for image in data['images'] %}
            <li class="upload__item"
                data-upload-id="{{ image.id }}">
                <img class="upload__image"
                     src="{{ media(image.path, 200) }}"
                     alt="{{ image.name }}"
                     data-upload-image="{{ image.id }}"/>
                <div class="upload__delete"
                     data-upload-delete="{{ image.id }}">
                    {{ i18n('delete') }}
                </div>
                <div class="upload__choose-main {% if image.main %}upload__choose-main--is-main{% endif %}"
                     data-upload-choose-main="{{ image.id }}"></div>
            </li>
            {% endfor %}
            <li class="upload__item upload__item--new-button">
                <div class="upload__image upload__image--new"
                     data-upload-button>
                    {{ i18n('new_image') }}
                </div>
            </li>
        </ul>
    </div>
    <div class="upload__description upload__max-size-exceeded hidden">
        <p class="description description--upload">{{ i18n('upload_max_size_exceeded') }}</p>
    </div>
    <div class="upload__description upload__item-corrupted hidden">
        <p class="description">{{ i18n('upload_image_corrupted') }}</p>
    </div>

    <div class="upload__description">
        <div class="upload__main-icon"></div>
        <p class="description description--main">{{ i18n('main_image_description') }}</p>
    </div>
{% endblock image_upload %}
