{% block product_list %}
    <div class="insertion__content">
        {% block product_list__filter %}
            {% include 'Plugins/Insertion/Frontend/Components/Content/Filter.twig' %}
        {% endblock product_list__filter %}

        {% block product_list__sort %}
            {% include 'Plugins/Insertion/Frontend/Components/Content/Sort.twig' %}
        {% endblock product_list__sort %}
        <div class="product-list">
            {% for item in search.query.items %}
                <div class="panel panel--product product">
                    <a href="{{ url("insertions_detail", {id: item.id}) }}" class="product__image">
                        {% if item.media is defined and item.media|length > 0 and item.media[0].content is defined %}
                            <img src="{{ media(item.media[0].content.id, 300) }}" alt="{{ item.content[0].name }}"
                                 class="image">
                        {% else %}
                            <!-- TODO add dummy image -->
                            <img src="https://placeponi.es/300/300" alt="ponie" class="image">
                        {% endif %}
                        <div class="badge badge--image badge--top-left"></div>
                        <div class="label label--image label--top-right"></div>
                    </a>
                    <div class="product__attributes product__attributes--main">
                        {% for attribute in item.insertionType.attributes %}
                            {% if attribute.top %}
                                {% for value in item.values %}
                                    {% if value.attributeKey.id == attribute.attributeKey %}
                                        <div class="product__attribute">
                                            <!-- Fallunterscheidung hinzufügen -->
                                            <span class="product__label">{{ i18n(value.attributeKey.name) }}</span>
                                            <span class="product__value">{{ value.value }}</span>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="product__content">
                        <h3 class="product__title">{{ item.content[0].title }}</h3>
                        <div class="product__attributes product__attributes--top">
                            {% for attribute in item.insertionType.attributes %}
                                {% if attribute.top %}
                                    {% for value in item.values %}
                                        {% if value.attributeKey.id == attribute.attributeKey %}
                                            <div class="product__attribute">
                                                <!-- Fallunterscheidung hinzufügen -->
                                                <span class="product__label">{{ i18n(value.attributeKey.name) }}</span>
                                                <span class="product__value">{{ value.value }}</span>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="product__attributes product__attributes--bottom">
                            {% for attribute in item.insertionType.attributes %}
                                {% if attribute.top %}
                                    {% for value in item.values %}
                                        {% if value.attributeKey.id == attribute.attributeKey %}
                                            <div class="product__attribute">
                                                <!-- Fallunterscheidung hinzufügen -->
                                                <span class="product__label">{{ i18n(value.attributeKey.name) }}</span>
                                                <span class="product__value">{{ value.value }}</span>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="product__meta">
                            <span class="product__number">{{ item.id }}</span>
                            <div class="product__pricing">
                                <span class="product__label">price</span>
                                <span class="product__value">{{ item.price }}€</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock product_list %}
