{% block product_list_sort %}
    <div class="panel panel--sort flex flex--row flex--center flex--between">
        <div class="result">
            <h1 class="result__text">{{ search.query.count }} {{ i18n('insertion_' ~ type.name ~ '_count', i18n('insertion_count' ,'insertions found')) }}</h1>
        </div>
    </div>
    <div class="panel panel--sort flex flex--row flex--center flex--between">
        <div class="form__input form__input--select form__input--sort">
            <select onchange="window.location.href = Oforge.updateQueryString('order', this.value)"
                    name="product-list-sort"
                    id="product-list-sort"
                    class="form__input form__input--no-input">
                {% set orderItems = ['price_asc', 'price_desc', 'date_asc', 'date_desc'] %}
                {% for orderItem in orderItems %}
                    <option value="{{ orderItem }}"
                            {% if search.order is same as(orderItem) %}selected="selected"{% endif %} >{{ i18n(orderItem) }}</option>
                {% endfor %}
            </select>
        </div>
        <form method="post"
              class="form form--sort"
              action="{{ url('frontend_account_insertions_toggleSearchBookmark') }}"
              enctype="multipart/form-data">
            <input type="hidden" name="filter" value="{{ search.filter|json_encode() }}" />
            <input type="hidden" name="type_id" value="{{ typeId }}" />
            <input type="submit"
                   class="button button--large button--secondary button--save-result"
                   value="{% if hasSearchBookmark(typeId, search.filter) %}{{ i18n('remove_from_search_list', 'Remove search from search list') }}{% else %}{{ i18n('save_search', 'Save search') }}{% endif %}" />
        </form>
    </div>
{% endblock product_list_sort %}
