{% block video_upload %}
    <span class="form__label form__label--title">
        {{ i18n('video_upload_title') }} <span class="limitations">{{ i18n('video_upload_limitations') }}</span>
    </span>

    <div class="upload upload--video">
        <ul class="upload__list"
            data-upload-video
            data-text-snippet="{{ i18n('delete') }}">
            <li class="upload__item upload__item--placeholder">
                <div class="upload__image">
                    <svg class="icon icon--secondary">
                        <use xlink:href="#video"></use>
                    </svg>
                </div>
            </li>
            <li class="upload__item upload__item--new-button">
                <div class="upload__image upload__image--new"
                     data-upload-button>
                    {{ i18n('new_video') }}
                </div>
            </li>
        </ul>
    </div>

    <div class="upload upload--video">
        <input type="file" accept="video/mp4">
    </div>
    <div class="upload__max-size-exceeded hidden">
        <p class="description description--upload">{{ i18n('upload_max_size_exceeded') }}</p>
    </div>
{% endblock video_upload %}
