{% extends 'Backend/Master/Index.twig' %}

{% block pagecontent %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12">
                            {% block crud_actions_row %}
                                <p class="btn-group" role="group">
                                    {% block crud_actions_group_items %}
                                        <a href="{{ url(meta.route.name  ~ '_create') }}"
                                           title="{{ i18n('backend_crud_btn_create', {en: 'create', de: 'erstellen'}) }}"
                                           class="btn btn-primary {% if not crud.actions.create %}disabled{% endif %}">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    {% endblock crud_actions_group_items %}
                                </p>
                            {% endblock crud_actions_row %}
                        </div>
                    </div>
                    {% include CRUD_path('Components/Index/FilterBar.twig') with {
                        crud: crud,
                        meta: meta
                    } %}
                    {% if crud.hasEditors %}
                    <form action="{{ url(meta.route.name, {}, meta.route.query|default({})) }}" method="post"
                          enctype="multipart/form-data">
                        {% endif %}
                        {# {% include CRUD_path('Components/Index/PaginationRow.twig') with { #}
                        {# pagination: crud.pagination, #}
                        {# queryKeys: crud.queryKeys, #}
                        {# route: meta.route #}
                        {# } only %} #}
                        <div class="row">
                            <div class="col-xs-12 table-responsive">
                                {% include CRUD_path('Components/Index/Table.twig') %}
                            </div>
                        </div>
                        {% include CRUD_path('Components/Index/PaginationRow.twig') with {
                            pagination: crud.pagination,
                            queryKeys: crud.queryKeys,
                            route: meta.route
                        } only %}
                        {% if crud.hasEditors %}
                        <p></p>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input type="hidden" name="action" value="update"/>
                                    <input type="submit" class="btn btn-primary"
                                           value="{{ i18n('backend_crud_btn_update', {en: 'update', de: 'aktualisieren'}) }}"
                                           title="{{ i18n('backend_crud_btn_update', {en: 'update', de: 'aktualisieren'}) }}">
                                </div>
                            </div>
                        </div>
                    </form>
                    {% endif %}
                </div>{# /.box-body #}
            </div>{# /.box #}
        </div>
    </div>
{% endblock pagecontent %}
