{% block newsletter_tile %}
    <div class="{{ data.css }} newsletter-tile" style="background-color:{{ data.backgroundcolor }};"
         data-newsletter-tile="">
        <div class="content">
            <svg class="icon" style="fill:{{ data.fontcolor }};">
                <use xlink:href="#email"></use>
            </svg>
            <h2 class="newsletter-tile__caption" style="color:{{ data.fontcolor }};">{{ data.caption }}</h2>
            <p class="newsletter-tile__text" style="color:{{ data.fontcolor }};">{{ data.text }}</p>
            <form class="newsletter-tile__form form--submit--loading"
                  action="{{ url('frontend_newsletter_subscription_subscribe') }}"
                  method="post"
                  style="color:{{ data.fontcolor }};"
            >
                <div class="form-controls">
                    <div class="form__control">
                        <input id="frontend_newsletter_email"
                               name="frontend_newsletter_email"
                               type="email"
                               class="form__input form__input"
                               placeholder="{{ i18n('email') }}"
                               required>
                    </div>
                    <div class="form-control form-control--checkbox">
                        <input type="checkbox"
                               class="form__input form__input--checkbox"
                               name="terms_of_service_agreement"
                               required>
                        <label for="terms_of_service_agreement"
                               class="form__label form__label--checkbox">
                            {% set content = content('terms_of_service_agreement_' ~ meta.language.iso) %}
                            {% if content %}
                                {% include 'ContentTypes/' ~ content.path ~ '/Index.twig' with {'data': content} %}
                            {% endif %}
                            <span class="required">*</span>
                        </label>
                    </div>
                    <div class="form__control form-control--submit">
                        <input type="hidden" name="token" value="{{ token() }}">
                        <button type="submit"
                                value="{{ i18n('subscribe') }}"
                                class="form__input form__input--submit form__input--submit--loading button">
                            <span class="default-text">{{ i18n('subscribe') }}</span>
                            <span class="submit-text">{{ i18n('insertion_post_processing') }}</span>
                            <span class="success-text">
                                <svg class="icon">
                                    <use xlink:href="#check"></use>
                                </svg>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {{ o_dump(data) }}
{% endblock newsletter_tile %}
