{% block change_password_reset_form %}
    <form class="form form--change-password-reset"
          action="{{ url('frontend_account_edit_process') }}"
          method="post">
        <h3 class="form__title">{{ i18n('change_password', 'Change your password') }}</h3>
        <div class="form-controls">
            <div class="form__control">
                {% block change_password_label_current_password %}
                <label for="change_password_current_password"
                       class="form__label">
                    {{ i18n('current_password', 'Current Password') }}
                </label>
                {% endblock change_password_label_current_password %}

                <input id="change_password_current_password"
                       name="change_password_current_password"
                       type="password"
                       class="form__input"
                       placeholder="{{ i18n('current_password', 'Current password') }}"
                       required>
            </div>
            <div class="form__control">
                {% block change_password_label_new_password %}
                    <label for="change_password_new_password"
                           class="form__label">
                        {{ i18n('password_confirm') }}
                    </label>
                {% endblock change_password_label_new_password %}
                <input id="change_password_new_password"
                       name="change_password_new_password"
                       type="password"
                       class="form__input"
                       placeholder="{{ i18n('new_password', 'New password') }}"
                       required>
            </div>
            <div class="form__control">
                {% block change_password_label_new_password_confirm %}
                    <label for="change_password_new_password_confirm"
                           class="form__label">
                        {{ i18n('password_confirm') }}
                    </label>
                {% endblock change_password_label_new_password_confirm %}
                <input id="change_password_new_password_confirm"
                       name="change_password_new_password_confirm"
                       type="password"
                       class="form__input"
                       placeholder="{{ i18n('password_confirm', 'Confirm password') }}"
                       required>
            </div>
            <div class="form__control">
                <input type="hidden" name="token" value="{{ token() }}">
                <input type="submit"
                       value="{{ i18n('change_password') }}"
                       class="form__input form__input--submit button">
            </div>
        </div>
    </form>
{% endblock change_password_reset_form %}
