{% block support_form %}
    <form class="form form--support"
          action="{{ url('frontend_account_support_process') }}"
          method="post">
        <div class="form-controls">

            <h3 class="form__title">{{ i18n('support_ticket', 'Support-Ticket') }}</h3>


            <div class="form__control">
                {% block support_label_issue_type %}
                    <label for="frontend_support_issue_type"
                           class="form__label">{{ i18n('issue_type', 'Issue Type') }}</label>
                {% endblock support_label_issue_type %}

                <select class="form__input form__input--select"
                        name="frontend_support_issue_type"
                        id="frontend_support_issue_type">
                    {% for issueType in ticket.issueTypes %}
                        <option value="{{ issueType }}">{{ issueType }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form__control">
                {% block support_label_issue %}
                    <label for="frontend_support_issue"
                           class="form__label">{{ i18n('your_issue', 'Your issue') }}</label>
                {% endblock support_label_issue %}
                <input id="frontend_support_issue"
                       name="frontend_support_issue"
                       type="text"
                       class="form__input form__input {% block support_input_issue_classes %}{% endblock support_input_issue_classes %}"
                       placeholder="{{ i18n('your_issue') }}"
                       required>
            </div>

            <div class="form__control">
                {% block support_label_issue_description %}
                    <label for="frontend_support_issue_description"
                           class="form__label">{{ i18n('your_issue_description', 'Your issue_description') }}</label>
                {% endblock support_label_issue_description %}
                <textarea id="frontend_support_issue_description"
                       name="frontend_support_issue_description"
                       class="form__input form__input--textarea {% block support_input_issue_description_classes %}{% endblock support_input_issue_description_classes %}"
                       placeholder="{{ i18n('your_issue_description') }}"
                          required>
                </textarea>
            </div>

            <div class="form__control">
                <input type="hidden" name="token" value="{{ token() }}">
                <input type="submit"
                       value="{{ i18n('send_ticket', 'Send ticket') }}"
                       class="form__input form__input--submit button">
            </div>
        </div>
    </form>
{% endblock support_form %}