{% block account_nav_bar %}
    <div class="account__nav-bar">
        {% if back_link is defined %}
            {% block back_link %}
                <a href="{{ url('frontend_account_dashboard') }}" class="back-link">
                    <svg class="icon icon--light icon--turn-left">
                        <use xlink:href="#arrow"></use>
                    </svg>
                </a>
            {% endblock back_link %}
        {% else %}
            <div></div>
        {% endif %}
        <h3 class="nav-bar__title">{{ content_title }}</h3>

        {% block account_menu %}
            {% if sidebar_navigation is defined %}
                <div class="account__menu">
                    <input type="checkbox" id="account-nav" class="toggle-menu toggle-menu--account">
                    <label for="account-nav" class="toggle-menu__icon">
                        <svg class="icon icon--light">
                            <use xlink:href="#arrow"></use>
                        </svg>
                    </label>
                    <nav class="toggle-menu__nav toggle-menu__nav--account toggle-down">
                        <ul class="toggle-nav toggle-nav--account">
                            {% for nav_item in sidebar_navigation %}
                                <li class="nav-account__item">
                                    <a class="flex flex--row" href="{{ url(nav_item.path) }}">
                                        {% if nav_item.icon %}
                                            <svg class="icon">
                                                <use xlink:href="#{{ nav_item.icon }}"></use>
                                            </svg>
                                        {% endif %}
                                        <span class="nav-account__text">
                                        {{ i18n(nav_item.name) }}
                                    </span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            {% endif %}
        {% endblock %}
    </div>
{% endblock account_nav_bar %}
