{# block sidebar__account_user #}
{% block account_user %}
    <div class="account__user">
        {% if label %}
            <label class="center__label flex flex--row" for="input__profile">
                <div class="user__picture img-profile flex"
                     {% if current_user.detail %}style="background-image: url('{{ media(current_user.detail.image) }}'){% endif %};">
                    <div class="flex flex--center">
                        <svg class="icon icon--primary">
                            <use xlink:href="#camera"></use>
                        </svg>
                    </div>
                </div>
            </label>
        {% else %}
            <div class="user__picture img-profile flex"
                 {% if current_user.detail %}style="background-image: url('{{ media(current_user.detail.image) }}'){% endif %};">
            </div>
        {% endif %}
        <div class="user-info">
            {% if current_user.detail %}
                <h2 class="user-info__name">
                    {{ current_user.detail.nickName }}
                </h2>
            {% endif %}

            <h2 class="user-info__name">
                {{ current_user.detail.name }}</h2>
            <p class="user-info__email">{{ current_user.email }}</p>
        </div>
    </div>
{% endblock account_user %}