{% if item[property.name] %}
    {% set imagePath = media(item[property.name]) %}
    <a href="{{ imagePath }}" title="{{ imagePath }}" target="_blank">
        <img width="{{ property.renderer.width|default(null) }}"
             src="{{ media(item[property.name], property.renderer.width|default(0)) }}" title=" {{ imagePath }}" />
    </a>
{% else %}
    {{ i18n('backend_crud_no_image', 'no image') }}
{% endif %}
