<form data-async="true" data-replace="#messageContainerMeta" method="post" action="{{ url('backend_content_elements_update') }}" enctype="multipart/form-data">
    <input name="cms_form" type="hidden" value="cms_page_builder_form">
    <input id="cms_page_selected_element" name="cms_page_selected_element" type="hidden" value="{{ post.cms_page_selected_element }}">
    <input id="cms_page_create_content_with_type_id" name="cms_page_create_content_with_type_id" type="hidden" value="{{ post.cms_page_create_content_with_type_id }}">
    <input id="cms_page_create_content_at_order_index" name="cms_page_create_content_at_order_index" type="hidden" value="{{ post.cms_page_create_content_at_order_index }}">
    <input id="cms_page_delete_content_with_id" name="cms_page_delete_content_with_id" type="hidden">
    <input id="cms_page_delete_content_at_order_index" name="cms_page_delete_content_at_order_index" type="hidden">
    <input id="cms_page_selected_action" name="cms_page_selected_action" type="hidden" value="submit">

    <div id="messageContainerMeta"></div>

    <div class="form-group">
        <label for="name">{{ i18n('content_type_name', 'Name') }}</label>
        <input class="form-control" type="text" name="name" value="{{ contentElementData.name }}" />
    </div>

    <div class="form-group">
        <label for="css">{{ i18n('content_type_css_class', 'CSS Class') }}</label>
        <input class="form-control" type="text" name="css" value="{{ contentElementData.css }}" />
    </div>

    <input type="submit" class="btn btn-primary" value="{{ i18n('backend_crud_save') }}" />
</form>