{# This is the top (Master) template file, that defines the basic structure of a theme. #}
<!doctype html>
<html lang="{{ meta.language.iso }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% if meta.page.title is defined %}{{ meta.page.title }}{% else %}{{ config('system_project_name') }}{% endif %}{% endblock title %}</title>
    <meta name="description" content="{% block description %}{{ meta.page.description }}{% endblock description %}" />
    {#<base href="{{ meta.route.baseUrl }}" />#}
    <link rel="shortcut icon" href="{{ url('/var/public/__assets/Frontend/img/favicon.ico') }}">

    {% block master__additional_meta %}
    {% endblock master__additional_meta %}

    {% block master__styles %}
        {% if assets.css %}
            <link rel="stylesheet" href="{{ url(assets.css ) }}">
        {% endif %}
    {% endblock master__styles %}

    {% block head__scripts %}
    {% endblock head__scripts %}
</head>
<body {% if meta.route.page.css.id %}id="{{ meta.route.page.css.id }}"{% endif %}
    {% if meta.route.page.css.style %}style="{{ meta.route.page.css.style }}"{% endif %}
      class="{% block body_class %}controller-{{ meta.route.parentName|lower }} module-{{ meta.route.context|lower }} action-{{ meta.route.name|lower }}{% endblock body_class %} {{ meta.route.page.css.class|default(null) }}">

{% if debug.console %}
    {{ o_dump() }}
{% endif %}

{% block body %}
{% endblock body %}

{% block master__footer_scripts %}
    {% include 'Frontend/Components/Scripts.twig' %}
{% endblock master__footer_scripts %}

{% block game %}
    {#    {% set content_320 = twig_call_function_if_exist('cms_content', 'game_320') %}#}
    {#    {% set content_640 = twig_call_function_if_exist('cms_content', 'game_640') %}#}
    {#    {% set game_page   = twig_call_function_if_exist('cms_content', 'game_page') %}#}
    {#    {% if content_320.data.imageID and content_640.data.imageID and game_page.data.content == meta.route.url.path %}#}
    {#        <div data-modal-view="{{ meta.route.url.path }}"#}
    {#             data-auto-open="">#}
    {#            <div data-modal-content="{{ meta.route.url.path }}"#}
    {#                 class="modal-view">#}
    {#                <div class="modal-view__close"#}
    {#                     data-modal-close="{{ meta.route.url.path }}">✕</div>#}
    {#                <div class="modal-view__content">#}
    {#                    <picture class="lazy">#}
    {#                        <source class="lazy" data-srcset="{{ media(content_640.data.imageID) }}" media="(min-width: 640px)" />#}
    {#                        <img class="lazy" data-src="{{ media(content_320.data.imageID) }}" alt="{{ i18n('image_upload_tips') }}" />#}
    {#                    </picture>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    {% endif %}#}
{% endblock game %}

{% block svg_icons %}
    {% include 'Frontend/Components/SVG.twig' %}
    {% if debug.session %}
        {% include 'Frontend/Components/TestIcons.twig' %}
    {% endif %}
{% endblock svg_icons %}

{% block master__meta %}
    {% if debug.session %}
        <style>
            .meta {
                background: #d87a68;
                color: #fff;
                padding: 1rem;
                width: 100%;
                min-height: 300px;
                font-size: 1.2rem;
                line-height: 1.4;
                word-break: break-all;
            }

            .meta * {
                white-space: pre-wrap;
            }
        </style>
        <div class="meta">
            {{ o_print(debug.session) }}
        </div>
    {% endif %}
{% endblock master__meta %}

{% block cookie__consent %}
{% endblock cookie__consent %}

{% if meta.backend.logged|default(false) %}
    {% include 'Frontend/Components/BackendPopup.twig' %}
{% endif %}

{% block scroll_to_top %}
    <div id="scroll_to_top"></div>
{% endblock scroll_to_top %}

</body>
</html>
