<div class="content-type-edit-selector" data-pb-id="{{ data.id }}" data-pb-se="{{ data.se }}" data-pb-order="{{ order }}">
	<div class="content-type-navigation-entry">{{ o_dump(data) }}
		<a href="{{ data.url }}" title="{{ data.title }}">{{ i18n(data.link) }}</a>
	</div>
</div>
