<input type="hidden" id="cms_page_richtext_text" name="text">
<div class="content-type-edit-form-richtext">
    <div class="form-group">
        <label>{{ i18n('link_name') }}</label><input class="form-control" type="text" name="link_name" value="{{ data.link  }}">
    </div>
    <div class="form-group">
        <label>{{ i18n('link_title') }}</label><input class="form-control" type="text" name="link_title" value="{{ data.title  }}">
    </div>
    <div class="form-group">
        <label>{{ i18n('link_url') }}</label><input class="form-control" type="text" name="link_url" value="{{ data.url }}">
    </div>
</div>
