{% if crudFilterConfig.list is defined %}
    <span>
        <select name="{{ crudPropertyName }}" class="form-control select2" title="{{ crudFilterTitle }}
                data-placeholder="{{ crudFilterTitle }}">
            <option {% if meta.route.query[crudPropertyName] is not defined %}selected{% endif %} value="">
                {{ crudFilterTitle }}
            </option>
            {% for crudFilterValue, crudFilterLabel in crudFilterConfig.list %}
                {% if crudFilterLabel.options is defined %}
                    {% set crudFilterOptgroupLabel = crudFilterLabel.label %}
                    <optgroup label="{{ crudFilterOptgroupLabel }}">
                        {% for crudFilterValue2,crudFilterLabel2 in crudFilterLabel.options %}
                            {% set selected = (meta.route.query[crudPropertyName]|default(null) == crudFilterValue2) %}
                            <option {% if selected %}selected{% endif %} value="{{ crudFilterValue2 }}">
                                {{ crudFilterLabel2 }}
                            </option>
                        {% endfor %}
                    </optgroup>
                {% else %}
                    {% set selected = (meta.route.query[crudPropertyName]|default(null) == crudFilterValue) %}
                    <option {% if selected %}selected{% endif %} value="{{ crudFilterValue }}">
                        {{ crudFilterLabel }}
                    </option>
                {% endif %}
            {% endfor %}
        </select>
    </span>
{% else %}
    <div class="alert alert-danger" role="alert">
        Missing select options list configuration for "{{ crudPropertyName }}"
    </div>
{% endif %}
