{% extends '@parent/Frontend/Layout.twig' %}
    {% set context = meta.route.context|lower %}

    {% block content_before %}
        {% set content_before = product_placements(2, ['vertical', 'small', 'insertion', 'detail']) %}
        {% if (content_before) %}
        <div class="product-placement {{ context }} before">
            {% for content in content_before %}
                <span>{{ content.source }}</span> <span>{{ content.format }}</span>

            {% endfor %}
        </div>
        {% endif %}
    {% endblock content_before %}

    {% block content_after %}
        {% if (content_after) %}
        <div class="product-placement {{ context }} after">
            {{ content_after.text|raw }}
        </div>
        {% endif %}
    {% endblock content_after %}
