{% extends "Backend/Master/Index.twig" %}

{% block pagecontent %}
    {% for template in templates %}
        <!-- tile -->
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua with-border">
                <div class="inner">
                    <h4>{{ template.name }}</h4>

                    <p>Author: Oforge-Team</p>
                </div>
                {% if template.active == 1 %}
                    <div class="icon">
                        <i class="fa fa- fa-check-circle"></i>
                    </div>
                {% endif %}
                <button type="button"
                        class="btn btn-xs btn-primary btn-block btn-flat"
                        data-toggle="modal"
                        data-target="#modal-{{ template.id }}">
                    select <i class="fa fa-arrow-circle-right"></i>
                </button>
            </div>
        </div>

        <!-- modal -->
        <div class="modal fade" id="modal-{{ template.id }}" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title">{{ template.name }}</h4>
                    </div>
                    <form method="post">
                        <div class="modal-body">
                            <p>Author: Oforge-Team</p>
                            <p>Version: v1.33.7</p>
                            <div>
                                {% for variable in scssVariables %}
                                    {% if 'Themes\\' ~ template.name ~ '\\Template' == variable.context %}
                                    <label>${{ variable.name }}</label>
                                    <div class="input-group my-colorpicker2 colorpicker-element">
                                        <input name="{{ variable.id }}|{{ variable.name }}" type="text" class="form-control" value="{{ variable.value }}" />

                                        <div class="input-group-addon">
                                            <i></i>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button"
                                    class="btn btn-default pull-left"
                                    data-dismiss="modal">
                                Close
                            </button>
                                {% if template.active == 1 %}
                                    <button type="submit"
                                            name="rebuild"
                                            value="{{ template.name }}"
                                            class="btn btn-primary">
                                        Rebuild
                                    </button>
                                {% else %}
                                    <button type="submit"
                                            name="selectedTheme"
                                            value="{{ template.name }}"
                                            class="btn btn-primary">
                                        Select as active
                                    </button>
                                {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}