{% extends '@parent/Frontend/Components/Header/TopNav.twig' %}
{% block top_nav_links %}
    <li class="top-nav-list__item item--login">
        <a href="{{ url( 'insertions_create') }}"
           class="button button--secondary button--shadow button--uppercase button--header">{{ i18n('insertion_create', 'Jetzt inserieren!') }}</a>
    </li>

    {{ parent() }}

    {% if user_logged_in and current_user is not null %}

        <li class="top-nav-list__item item--login">
            <a href="{{ url('frontend_account_insertions_bookmarks') }}"
               title="{{ i18n('frontend_account_insertions_bookmarks_title', 'Meine Merkliste') }}">
                {% if userHasBookmark() %}
                    <svg class="icon icon--secondary icon--heart">
                        <use xlink:href="#heart"></use>
                    </svg>
                {% else %}
                    <svg class="icon icon--secondary icon--heart-empty">
                        <use xlink:href="#heart_empty"></use>
                    </svg>
                {% endif %}
            </a>
        </li>

    {% endif %}
{% endblock top_nav_links %}

