{# block account__content #}
{% block account_content %}
    <div class="account__content flex">
        {% if content is defined %}
            <h3 class="account__title">{{ i18n('overview') }}</h3>
            <div class="boxes flex flex--row flex--wrap">
                {% for nav_item in sidebar_navigation %}
                    {% if nav_item.icon %}
                        <div class="box">
                            <a href="{{ url(nav_item.path) }}" class="box__content flex flex--center flex--justify">
                                <svg class="icon icon--light icon--{{ nav_item.icon }}">
                                    <use xlink:href="#{{ nav_item.icon }}"></use>
                                </svg>
                                <span class="box__text">
                                {{ i18n(nav_item.name) }}
                                </span>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock account_content %}
