{% set label_id = ['label', crud.context, crud.model, property.name]|join('_') %}
<div>
    {% if property.crud[crud.context] == 'editable' %}
        <input type="hidden" name="data[{% if crud.context == 'index' %}{{ item.id }}][{% endif %}{{ property.name }}]"
               value="0" />
    {% endif %}
    <input type="checkbox" id="{{ label_id }}" class="form-check-input"
           {% if item[property.name] %}checked{% endif %} value="1"
            {% if property.crud[crud.context] == 'editable' %}name="data[{% if crud.context == 'index' %}{{ item.id }}][{% endif %}{{ property.name }}]"
                {% else %}readonly{% endif %}
    />
    {#    <label for="{{ label_id }}">#}
    {#        {{ i18n(property.label|default('backend_crud_property__' ~ crud.model ~ '_' ~ property.name) ) }}#}
    {#    </label>#}
{#    //TODO switch#}
</div>
<div class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input" id="customSwitch1">
    <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
</div>
