<div class="form-group">
    {% set crudDateTimePickerType = crudFieldType|default('datetime') %}
    {% set crudDateTimePickerValue = item[crudProperty.name]|default(crudProperty.editor.default)|default('') %}
    {% if crudDateTimePickerType == 'data' %}
        {% set crudDateTimePickerValue = crudDateTimePickerValue|formatDate %}
    {% elseif crudDateTimePickerType == 'datetime' %}
        {% set crudDateTimePickerValue = crudDateTimePickerValue|formatDatetime %}
    {% elseif crudDateTimePickerType == 'time' %}
        {% set crudDateTimePickerValue = crudDateTimePickerValue|formatTime %}
    {% endif %}
    {% set crudDateTimePickerID = crudFieldID ~ '_picker' %}
    {{ o_dump() }}
    <div id="{{ crudDateTimePickerID }}" class="input-group oforge-{{ crudDateTimePickerType }}-picker"
         data-configuration="{{ {format: config('system_datetimepicker_format_' ~ crudDateTimePickerType)}|json_encode }}"
         data-target-input="nearest">
        <span class="input-group-addon" data-target="#{{ crudDateTimePickerID }}" data-toggle="datetimepicker">
            {% if crudDateTimePickerType != 'time' %}
                <span class="fa fa-calendar"></span>
            {% endif %}
            {% if crudDateTimePickerType != 'date' %}
                <span class="fa fa-clock-o"></span>
            {% endif %}
        </span>
        <input id="{{ crudFieldID }}" type="text" class="form-control" data-target="#{{ crudDateTimePickerID }}"
               value="{{ crudDateTimePickerValue }}" />
    </div>
</div>
