{% if crudProperty.list is defined %}
    <select class="form-control" {% if crudFieldID %}id="{{ crudFieldID }}"{% endif %}
        {% if crudProperty.crud[crud.context] == 'editable' %}name="data[{% if crud.context == 'index' %}{{ item.id }}][{% endif %}{{ crudProperty.name }}]"{% endif %}
        {% if crudProperty.editor.required %}required{% endif %}
        {% if crudProperty.editor.multiple %}multiple{% endif %}
        {% if crudProperty.editor.size %}size="{{ crudProperty.editor.size }}"{% endif %}
    >
        {% for value,label in crudProperty.list %}
            {% if label.options is defined %}
                <optgroup label="{{ label.label }}">
                    {% for value,label in label.options %}
                        {% if crud.context == 'create' %}
                            {% set selected = select_compare(meta.route.query[crudProperty.name]|default(crudProperty.editor.default)|default(''), value) %}
                        {% else %}
                            {% set selected = select_compare(item[crudProperty.name]|default(''), value) %}
                        {% endif %}
                        <option {% if selected %}selected{% endif %} value="{{ value }}">
                            {{ label }}
                        </option>
                    {% endfor %}
                </optgroup>
            {% else %}
                {% if crud.context == 'create' %}
                    {% set selected = select_compare(meta.route.query[crudProperty.name]|default(crudProperty.editor.default)|default(''), value) %}
                {% else %}
                    {% set selected = select_compare(item[crudProperty.name]|default(''), value) %}
                {% endif %}
                <option {% if selected %}selected{% endif %} value="{{ value }}">
                    {{ label }}
                </option>
            {% endif %}
        {% endfor %}
    </select>
{% else %}
    <div class="alert alert-danger" role="alert">
        Missing select options list configuration for "{{ crudProperty.name }}"
    </div>
{% endif %}
