{% if crudProperty.list is defined %}
    <select class="form-control select2" {% if crudFieldID %}id="{{ crudFieldID }}"{% endif %}
        {% if crudProperty.crud[crud.context] == 'editable' %}name="data[{% if crud.context == 'index' %}{{ item.id }}][{% endif %}{{ crudProperty.name }}]{% if crudProperty.multiple %}[]{% endif %}"{% endif %}
        {% if crudProperty.editor.required %}required{% endif %}
        {% if crudProperty.multiple %}multiple{% endif %}
        {% if crudProperty.editor.size %}size="{{ crudProperty.editor.size }}"{% endif %}
    >
        {% for value,label in crudProperty.list %}
            {% if label.options is defined %}
                <optgroup label="{{ label.label }}">
                    {% for value,label in label.options %}
                        {% include 'Backend/CRUD/Components/Editor/Components/SelectOption.twig' %}
                    {% endfor %}
                </optgroup>
            {% else %}
                {% include 'Backend/CRUD/Components/Editor/Components/SelectOption.twig' %}
            {% endif %}
        {% endfor %}
    </select>
{% else %}
    <div class="alert alert-danger" role="alert">
        Missing select options list configuration for "{{ crudProperty.name }}"
    </div>
{% endif %}
