{% if property.list is defined %}
    <select class="form-control" {% if fieldID %}id="{{ fieldID }}"{% endif %}
        {% if property.crud[crud.context] == 'editable' %}name="data[{% if crud.context == 'index' %}{{ item.id }}][{% endif %}{{ property.name }}]"
            {% else %}readonly{% endif %}
        {% if property.editor.multiple %}multiple{% endif %}
        {% if property.editor.size %}size="{{ property.editor.size }}"{% endif %}
    >
        {% for value,label in property.list %}
            {#<option value="" selected>{{ i18n("backend_crud_select_empty") }}</option>#}
            {% if label is array %}
                {% if property.list.isI18nLabel is defined and property.list.isI18nLabel %}
                    {% set optgroupLabel = i18n(label.label) %}
                {% else %}
                    {% set optgroupLabel = label.label %}
                {% endif %}
                <optgroup label="{{ optgroupLabel }}">
                    {% for value,label in label.options %}
                        {% set selected = route.query[propertyName] is defined and (route.query[propertyName] == value or route.query[propertyName] is same as(value)) %}
                        {% if property.list.isI18nLabel is defined and property.list.isI18nLabel %}
                            {% set label = i18n(label) %}
                        {% endif %}
                        <option {% if selected %}selected{% endif %} value="{{ value }}">
                            {{ label }}
                        </option>
                    {% endfor %}
                </optgroup>
            {% else %}
                <option {% if value == item[property.name] or value == property.editor.default %}selected{% endif %}
                        value="{{ value }}">
                    {% if property.isI18nLabel is defined and property.isI18nLabel %}
                        {{ i18n(label) }}
                    {% else %}
                        {{ label }}
                    {% endif %}
                </option>
            {% endif %}
        {% endfor %}
    </select>
{% else %}
    <div class="alert alert-danger" role="alert">
        Missing select options list configuration for "{{ property.name }}"
    </div>
{% endif %}
