{% if property.list %}
    <select class="form-control" {% if fieldID %}id="{{ fieldID }}"{% endif %}
            {% if property.crud[crud.context] == 'editable' %}name="data[{% if crud.context == 'index' %}{{ item.id }}][{% endif %}{{ property.name }}]"
            {% else %}readonly{% endif %}
            {% if property.editor.multiple %}multiple{% endif %}
            {% if property.editor.size %}size="{{ property.editor.size }}"{% endif %}
    >
        {% for value,title in property.list %}
            {#<option value="" selected>{{ i18n("backend_crud_select_empty") }}</option>#}
            <option {% if value == item[property.name] or value == property.editor.default %}selected{% endif %}
                    value="{{ value }}">
                {% if property.isI18nLabel is defined and property.isI18nLabel %}
                    {% if value is array %}
                        {{ i18n(value.key, value.default) }}
                    {% else %}
                        {{ i18n(value.key) }}
                    {% endif %}
                {% else %}
                    {{ value }}
                {% endif %}
            </option>
        {% endfor %}
    </select>
{% else %}
    <div class="alert alert-danger" role="alert">
        Missing select options list
    </div>
{% endif %}
