<div class="btn-group">
    <a class="btn btn-info"
       href="{{ url('frontend_blog_category', {id:item.id, seoUrlPath:item.seoUrlPath}) }}"
       title="{{ i18n('plugin_blog_goto_frontend_category', 'Show category in frontend') }}">
        <i class="fa fa-eye"></i>
    </a>
    <a class="btn btn-primary"
       href="{{ url('backend_blog_posts', {}, {category: item.id}) }}"
       title="{{ i18n('plugin_blog_goto_posts_of_category', 'Show posts of category') }}">
        <i class="fa fa-sticky-note"></i>
        &nbsp;{{ item.posts }}
    </a>
</div>
