{% block post_entry %}
    <div class="blog-posts-entry" title="{{ blogPost.headerTitle }}">
        <div class="blog-posts-entry-content" data-masonry-content="true">
            <div class="blog-post-entry-image">
                {% set blogPostHeaderImage = (blogPost.headerImagePreview ?: (blogPost.headerImageLarge ?: null))%}
                {% if blogPostHeaderImage %}
                    <img src="{{ media(blogPostHeaderImage, 800) }}"/>
                {% endif %}
            </div>
            <div class="blog-post-entry-text">
                {% if blog.category is defined %}
                    <div class="blog-post-entry-category">{{ blogPost.category.name }}</div>
                {% endif %}
                <div class="blog-post-entry-created">{{ blogPost.created|formatDatetime }}</div>
                {% include 'Plugins/Blog/Frontend/Components/RatingView.twig' %}
                <div class="blog-post-entry-title">{{ blogPost.headerTitle }}</div>
                <div class="blog-post-entry-excerpt">{{ blogPost.excerpt }}</div>
                <a href="{{ url('frontend_blog_view', {postID:blogPost.id, seoUrlPath:blogPost.seoUrlPath}) }}"
                   title="{{ blogPost.headerTitle }}">LINK</a>
            </div>
        </div>
    </div>
{% endblock post_entry %}
