{% extends "Backend/Master/Index.twig" %}

{% block pagecontent %}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">

            <div class="box-header">
                <h3 class="box-title">{{ i18n("usermanagement_title") }}</h3>
            </div>

            <div class="box-body">
                <form id="form_edit" action="{{ url("backend_users_update") }}" method="post">
                    <div class="form-group">
                        <label for="email">
                            {{ i18n("email") }}
                        </label>
                        <input class="form-control"
                               type="email"
                               id="email"
                               name="email"
                               value="{{ user.email }}">
                    </div>
                    <div class="form-group">
                        <label for="password">
                            {{ i18n("password") }}
                        </label>
                        <input class="form-control"
                               type="password"
                               id="password"
                               name="password">
                    </div>
                    <div class="form-group">
                        <label for="user_role">
                            {{ i18n("role") }}
                        </label>
                        <input class="form-control"
                            type="text"
                            id="role"
                            name="role"
                           value="{{ user.role }}">
                    </div>
                    <button type="submit" class="btn btn-primary">{{ i18n("update") }}</button>
                    <a href="javascript:location.href='{{ url("backend_users") }}'" class="btn btn-default">{{ i18n("cancel") }}</a>
                    <input type="hidden" id="id" name="id" value="{{ user.id }}">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock pagecontent %}