<div class="blog-breadcrump">
    <span>
        <a href="{{ url('frontend_blog') }}">{{ i18n('plugin_blog_frontend_blog_home', {en: 'Blog', de: 'Blog'}) }}</a>
    </span>
    {% if blog.category is defined %}
        <span>
            <a href="{{ url('frontend_blog', {categoryID: blog.category.id, seoUrlPath: blog.category.seoUrlPath}) }}">
                {{ blog.category.name }}
            </a>
        </span>
        {% if blog.post is defined %}
            <span>
                <a href="{{ url('frontend_blog_view', {postID: blog.post.id, seoUrlPath: blog.post.seoUrlPath}) }}">
                    {{ blog.post.headerTitle }}
                </a>
            </span>
        {% endif %}
    {% endif %}
</div>
