{% if blogCategory is defined %}
    {% set isActive = meta.route.params.categoryID == blogCategory.id %}
    <div class="blog__category {{ blogCategory.cssClass }} {% if isActive %}blog__category--active{% endif %}">
        <a href="{{ url('frontend_blog', {categoryID: blogCategory.id, seoUrlPath: blogCategory.seoUrlPath}) }}"
           class="blog__category-link">
            {{ blogCategory.name }}
        </a>
    </div>
{% else %}
    {% set isActive = meta.route.params.categoryID is not defined %}
    <div class="blog__category {% if isActive %}blog__category--active{% endif %}">
        <a href="{{ url('frontend_blog') }}"
           class="blog__category-link">
            {{ i18n('plugin_blog_frontend_blog_home', 'Blog') }}
        </a>
    </div>
{% endif %}
