{% extends "Backend/Master/Index.twig" %}

{% block pagecontent %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <form method="post" >
                        {% for element in config %}
                            {% if element.type == "boolean" %}
                                <div class="checkbox">
                                    <label>
                                        <input type="hidden" name="{{ element.name }}" value="0">
                                        <input type="checkbox"
                                               name="{{ element.name }}"
                                               value="1"
                                               {% if element.values[0].value is same as("1") %}checked{% endif %}>
                                        {{ i18n(element.label) }}
                                    </label>
                                </div>

                            {% elseif element.type == "string" %}
                                <div class="form-group">
                                    <label for="{{ element.name }}">
                                        {{ i18n(element.label) }}
                                    </label>
                                    <input type="{{ element.type }}"
                                           class="form-control"
                                           name="{{ element.name }}"
                                           value="{{ element.values[0].value }}">
                                </div>

                            {% elseif element.type == "integer" %}
                                <div class="form-group">
                                    <label for="{{ element.name }}">{{ i18n(element.label) }}</label>
                                    <input type="{{ element.type }}"
                                           class="form-control"
                                           name="{{ element.name }}"
                                           value="{{ element.values[0].value }}">
                                </div>
                            {% else %}
                                <p>ERROR</p>

                            {% endif %}
                        {% endfor %}
                        <button type="submit" class="btn btn-primary">{{ i18n("submit") }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
