{% block image_tile_medium_form %}
<div class="form">
    {% block image_tile_medium_image %}
        <div class="form-group">
            <label>{{ i18n('type_image', 'Image') }}</label>
            {% if data.url %}
                <div class="preview-image" {% if data.backgroundcolor %}style="background-color: {{ data.backgroundcolor }}"{% endif %}>
                    <img src="{{ media(data.url, 200) }}" width="200" title="{{ data.url }}"/>
                </div>
            {% endif %}

            <input class="form-control" name="image" type="file" accept="image/*" >
        </div>
    {% endblock image_tile_medium_image %}

    {% block image_tile_text_caption %}
        <div class="form-group">
            <label>{{ i18n('image_tile_caption', 'Überschrift') }}</label>
            <input type="text" name="caption" class="form-control" value="{{ data.caption }}">
        </div>
    {% endblock image_tile_text_caption %}

    {% block image_tile_medium_text %}
        <div class="form-group">
            <label>{{ i18n('image_tile_text', 'Text') }}</label>
            <input type="text" name="text" class="form-control" value="{{ data.text }}">
        </div>
    {% endblock image_tile_medium_text %}

    {% block image_tile_medium_link %}
        <div class="form-group">
            <label>{{ i18n('image_tile_link', 'Link') }}</label>
            <input type="url" name="link" class="form-control" value="{{ data.link }}">
        </div>
        <div class="form-group">
            <label>{{ i18n('image_tile_link_text', 'Linktext') }}</label>
            <input type="text" name="linktext" class="form-control" value="{{ data.linktext }}">
        </div>
    {% endblock image_tile_medium_link %}

    {% block icon_tile_text_open_in_tap %}
        <div class="form-group">
            <label>{{ i18n('open_in_new_tab', {en: 'Open in new Tab', de: 'In neuem Tab öffnen'}) }}</label>
            <div>
                {% include 'Backend/Components/Form/Switch.twig' with {
                    name: 'targetBlank',
                    checked: data.externalLink,
                } only %}
            </div>
        </div>
    {% endblock icon_tile_text_link %}

    {% block image_tile_medium_appearance_form %}
        <div class="form-group">
            <label>{{ i18n('background_color', 'Hintergrundfarbe') }}</label>
            <div>
                <input type="color" name="backgroundcolor" value="{{ data.backgroundcolor|default('#ffffff') }}" />
            </div>
        </div>
        <div class="form-group">
            <label>{{ i18n('font_color', 'Schriftfarbe') }}</label>
            <div>
                <input type="color" name="fontcolor" value="{{ data.fontcolor|default('#6f8e2b') }}" />
            </div>
        </div>
    {% endblock image_tile_medium_appearance_form %}
</div>
{% endblock image_tile_medium_form %}
