{% block mail_form %}
    <form class="form" action="{{ showMailLink }}">
        <h3 class="form__title">{{ mail_preview }}</h3>
        <select name="template">
            <option value ="AutoDeactivationConfirm.twig">AutoDeactivationConfirm</option>
            <option value ="DeactivationConfirm.twig">DeactivationConfirm</option>
            <option value ="NewMessage.twig">NewMessage</option>
            <option value ="RegisterConfirm.twig">RegisterConfirm</option>
            <option value ="Reminder3Days.twig">Reminder3Days</option>
            <option value ="Reminder14Days.twig">Reminder14Days</option>
            <option value ="Reminder30Days.twig">Reminder30Days</option>
            <option value ="ResetPassword.twig">ResetPassword</option>
            <option value ="InsertionCreated.twig">InsertionCreated</option>
            <option value ="InsertionApproved.twig">InsertionApproved</option>
            <option value ="NewSearchResults.twig">NewSearchResults</option>
        </select>

        <div class="form__control">
            <input type="submit"
                   value="Show Mail"
                   class="form__input form__input--submit button">
        </div>
    </form>

    <form class="form" action="{{ sendMailLink }}">
        <h3 class="form_title">{{ mail_send }}</h3>
        <select name="template">
            <option value ="AutoDeactivationConfirm.twig">AutoDeactivationConfirm</option>
            <option value ="DeactivationConfirm.twig">DeactivationConfirm</option>
            <option value ="NewMessage.twig">NewMessage</option>
            <option value ="RegisterConfirm.twig">RegisterConfirm</option>
            <option value ="Reminder3Days.twig">Reminder3Days</option>
            <option value ="Reminder14Days.twig">Reminder14Days</option>
            <option value ="Reminder30Days.twig">Reminder30Days</option>
            <option value ="ResetPassword.twig">ResetPassword</option>
            <option value ="InsertionCreated.twig">InsertionCreated</option>
            <option value ="InsertionApproved.twig">InsertionApproved</option>
            <option value ="NewSearchResults.twig">NewSearchResults</option>
        </select>
        <div>
            <input type="email"
                   name="to"
                   placeholder="{{ i18n('email') }}"
                   required>
        </div>
        <div class="form__control">
            <input type="submit"
                   value="Send Mail"
                   class="form__input form__input--submit button">
        </div>
    </form>
{% endblock mail_form %}
