{% extends "Plugins/Messenger/Frontend/Components/Content/Messenger.twig" %}

{% block messenger_header %}
    {% if activeConversation.type == "helpdesk_inquiry" %}
        <i class="logo__image"></i>
        <h3 class="title title--chat">{{ i18n('support') }} - {{ activeConversation.title }}</h3>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock messenger_header %}

{% block messenger_conversation_list %}
    {% if conversation.type == "helpdesk_inquiry" %}
        <i class="logo__image"></i>
        <span class="chat__text">{{ i18n('support') }} - {{ conversation.title }} -- {{ conversation.unreadMessages }}</span>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
