{% block image_tile_content %}
    <div class="content" style="background-color:{{ data.backgroundcolor }}">
        <div class="image-container">
            <img src="{{ data.url }}" alt="{{ data.caption }}">
        </div>
        <div class="text-container" style="background-color:{{ data.backgroundcolor }}">
            <h2 style="color:{{ data.fontcolor }};">{{ data.caption }}</h2>
            {% if data.subheading %}<h3>{{ data.subheading }}</h3>{% endif %}
            {% if data.text %}<p>{{ data.text }}</p>{% endif %}
            {% block image_tile_link %}
                {% if data.link %}
                    <div class="link">
                        <a href="{{ data.link }}"><strong>{% if data.linktext %}{{ data.linktext }}{% endif %}</strong>
                            <svg class="icon icon--secondary icon--profil">
                                <use xlink:href="#mehr_lesen"></use>
                            </svg>
                        </a>
                    </div>
                {% endif %}
            {% endblock image_tile_link %}
        </div>
    </div>
{% endblock image_tile_content %}