{% extends '@parent/Frontend/Layout.twig' %}
{% block content %}
    <div class="content">
        {% block login_registration %}
            <div class="panel panel--login-registration">
                {% block login_registration_title %}
                    <h2 class="title">{{ i18n('welcome') }}</h2>
                {% endblock login_registration_title %}

                <div class="panel__content flex flex--wrap">
                    <div class="panel__column">
                        {% block login_registration_subtitle %}
                            <h3 class="sub-title">{{ i18n('I want to...') }}</h3>
                        {% endblock login_registration_subtitle %}
                        <div class="buttons flex flex--row flex--center flex--between">
                            <a class="button tab tab--active" data-tab="login">
                                {{ i18n('login') }}
                            </a>

                            <a class="button tab " data-tab="registration">
                                {{ i18n('register') }}
                            </a>
                        </div>
                        <div class="separator"></div>
                        <h3 class="sub-title">{{ i18n('Insert your login data:') }}</h3>
                        <div class="tab__content tab__content--visible" data-tab-content="login">
                            {% include 'Frontend/Components/Forms/LoginForm.twig' %}
                        </div>

                        <div class="tab__content" data-tab-content="registration">
                            {% include 'Frontend/Components/Forms/RegistrationForm.twig' %}
                        </div>
                    </div>
                    <div class="panel__column panel__column--border">
                        <h3 class="sub-title">{{ i18n('Registration benefits:') }}</h3>
                    </div>
                </div>
            </div>
        {% endblock login_registration %}
    </div>
{% endblock content %}
