{# block header__main_nav #}
{% block main_nav %}

    {% set navigation = content('main_navigation') %}
    <nav class="main-nav">
        {% if navigation.columns is defined and navigation.columns|length > 0 %}
            <ul class="main-nav-list content content--no-pad columns--{{ navigation.columns|length }}">
                {% for entry in navigation.columns %}
                    {% set data = entry.data %}
                    {% if data is defined %}
                        <li class="main-nav-list__item">
                            <a class="main-nav-list__link" href="{% if data.url starts with 'http' %}{{ data.url }}{% else %}{{ url(data.url) }}{% endif %}"
                               {% if data.title is defined %}title="{{ data.title }}"{% endif %}
                            >
                                {{ i18n(data.link) }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </nav>
{% endblock main_nav %}