<div class="box box-widget widget-user-2">
    <div class="widget-user-header {{ item.cssClass }}">
        <h3>{{ i18n('plugin_blog_dashboard_widget_overview_title', 'Blog') }}</h3>
        <div class="icon">
{#            <i class="ion ion-person-add"></i>#}
        </div>
    </div>
    <div class="box-footer no-padding">
        <ul class="nav nav-stacked">
            <li>
                <a href="{{ url('backend_blog_categories') }}">
                    {{ i18n('plugin_blog_label_categories', 'Categories') }}
                    <i class="fa fa-arrow-circle-right"></i>
                    <span class="pull-right badge bg-blue">
                        {{ content.categories|default(0) }}
                    </span>
                </a>
            </li>
            <li>
                <a href="{{ url('backend_blog_posts') }}">
                    {{ i18n('plugin_blog_label_posts', 'Posts') }}
                    <i class="fa fa-arrow-circle-right"></i>
                    <span class="pull-right badge bg-blue">
                        {{ content.posts|default(0) }}
                    </span>
                </a>
            </li>
            <li>
                <a href="{{ url('backend_blog_comments') }}">
                    {{ i18n('plugin_blog_label_comments', 'Comments') }}
                    <i class="fa fa-arrow-circle-right"></i>
                    <span class="pull-right badge bg-blue">
                        {{ content.comments|default(0) }}
                    </span>
                </a>
            </li>
            <li>
                <a>
                    Ratings
                    <span class="pull-right badge bg-blue">
                        {{ content.ratings|default(0) }}
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>
