{% extends "Backend/Master/Index.twig" %}

{% block pagecontent %}
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ i18n("backend_insertion_type_title", "Edit Insertions Type") }}</h3>
                        <div class="box-tools pull-right">
                            <form method="POST" id="delete-form"
                                  action="{{ url('backend_insertion_type_delete') ~ "?id=" ~ content.insertionType.id }}"></form>
                            <div class="btn-group pull-right">
                                <button type="submit" form="delete-form" class="btn btn-danger">
                                    <i class="fa fa-trash"></i> {{ i18n('delete', 'delete') }}
                                </button>
                                <a href="{{ url('backend_insertion_type') }}" class="btn btn-default">
                                    <i class="fa fa-mail-reply"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="box-body">
                        <form method="POST">
                            <div>
                                <div class="form-group">
                                    <label for="insertionTypeName">{{ i18n("insertion_type_name", "Insertion Type Name") }}</label>
                                    <input name="name" type="text" class="form-control" id="insertionTypeName"
                                           value="{{ content.insertionType.name }}">
                                </div>
                                <div class="form-group">
                                    <label for="attributeType">{{ i18n("insertion_type_parent", "Parent Type") }}</label>
                                    <select name="parent" id="attributeType" class="form-control select2">
                                        <option value="0">None</option>
                                        {% for type in content.insertionTypeList %}
                                            <option value="{{ type.id }}"
                                                    {% if content.insertionType.parent.name is same as(type.name) %}
                                            selected
                                                    {% endif %}>
                                                {{ type.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div data-editable-table class="table-editable">
                                <span data-table-add class="table-add glyphicon glyphicon-plus"></span>
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>{{ i18n("attribute_key", "Attribute Key") }}</th>
                                        <th>{{ i18n("required", "Is required") }}</th>
                                        <th>{{ i18n("is_top", "Is Top") }}</th>
                                        <th>{{ i18n("attribute_group", "Attribute group") }}</th>
                                        <th><i class="fa fa-user-times"></i> {{ i18n("delete") }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="hide">
                                        <td data-type="select"
                                            data-label="attribute_key">
                                            <select name="select">
                                                {% for attribute in content.attributeList %}
                                                    <option value="{{ attribute.id }}">{{ attribute.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td data-type="checkbox"
                                            data-label="is_required">
                                            <input type="checkbox" name="checkbox" value="true">
                                        </td>
                                        <td data-type="checkbox"
                                            data-label="is_top">
                                            <input type="checkbox" name="checkbox" value="true">
                                        </td>
                                        <td data-type="select"
                                            data-label="attribute_group">
                                            <select name="select">
                                                {% for attributeGroup in content.attributeGroupList %}
                                                    <option value="{{ attributeGroup.id }}">{{ attributeGroup.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <span class="table-remove glyphicon glyphicon-remove"
                                                  data-table-remove></span>
                                        </td>
                                    </tr>
                                    {% for value in content.insertionType.attributes %}
                                        <tr>
                                            <td data-type="select"
                                                data-id="{{ value.id }}"
                                                data-label="attribute_key">
                                                <select class="form-control select2">
                                                    {% for attribute in content.attributeList %}
                                                        <option value="{{ attribute.id }}"
                                                                {% if value.attributeKey.id is defined and value.attributeKey.id == attribute.id %}
                                                                    selected
                                                                {% endif %}
                                                        >{{ attribute.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td data-type="checkbox"
                                                data-label="is_required">
                                                <input type="checkbox" {% if value.required %}checked{% endif %}>
                                            </td>
                                            <td data-type="checkbox"
                                                data-label="is_top">
                                                <input type="checkbox" {% if value.top %}checked{% endif %}>
                                            </td>
                                            <td data-type="select"
                                                data-label="attribute_group">
                                                <select class="form-control select2">
                                                    {% for attributeGroup in content.attributeGroupList %}
                                                        <option value="{{ attributeGroup.id }}"
                                                                {% if value.attributeGroup.id is defined and value.attributeGroup.id == attributeGroup.id %}
                                                                    selected
                                                                {% endif %}
                                                        >{{ attributeGroup.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                            <span class="table-remove glyphicon glyphicon-remove"
                                                  data-table-remove></span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <input name="values" type="hidden" data-export>
                            <button class="btn" type="submit" data-export-button>{{ i18n("submit") }}</button>
                        </form>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </section>
{% endblock %}
