{% block page_content %}

    {% block insertion_details %}
        {% if user_logged_in or ('Backend' in meta.route.assetBundles and user != null) %}
            <div class="form-controls form-controls--step-1">
                {% set hasContent = false %}
                {% for attributeGroup in attributes %}
                    {% if attributeGroup.items|length > 0 and attributeGroup.name == 'main' %}
                        {% for attribute in attributeGroup.items %}
                            {% set cmsContent = cms_content('html_' ~ type.name ~ '_' ~ attribute.attributeKey.name ~ '_' ~ meta.language.iso) %}
                            {% set hasContent = cmsContent is defined and cmsContent != null %}

                            <div class="form__control form__control--s {{ hasContent ? 'form__control--s-center' : '' }}">
                                {% include 'Plugins/Insertion/Frontend/FrontendInsertion/Attributes/' ~ attribute.attributeKey.type|capitalize  ~ '.twig'  with {'attribute': attribute.attributeKey, 'required': attribute.required, 'label_class': 'form__label--title' } %}
                            </div>

                            {% if cmsContent %}
                                {% include 'CMS/ContentTypeRouter.twig' with {cmsContent: cmsContent} %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}

                <div class="form__control form__control--s {{ hasContent ? 'form__control--s-center' : '' }}">
                    <label for="insertion_title"
                           class="form__label form__label--title">{{ i18n('insertion_title') }} <span
                            class="required">*</span></label>
                    <input name="insertion_title"
                           value="{{ data['insertion_title'] }}"
                           type="text"
                           class="form__input form-control"
                           placeholder="{{ i18n('insertion_title_placeholder') }}"
                           data-required
                           maxlength="180"
                           required>
                </div>
            </div>
            <div class="form-controls">
                <div class="form__control">
                    <h3 class="form__label form__label--title">{{ i18n('images_and_videos', 'Fotos und Videos') }}</h3>
                    {% block modal__view %}
                        {# Only load selector if content is available, otherwise we will produce js type error (see modal-view.js) #}
                        {% set content_320 = cms_content('insertion_create_image_tipps_320') %}
                        {% set content_640 = cms_content('insertion_create_image_tipps_640') %}

                        {% if content_320.data.imageID and content_640.data.imageID %}
                            {% set content320Url = media(content_320.data.imageID) %}
                            {% set content640Url = media(content_640.data.imageID) %}
                            <a class="link link--insertion-create"
                               data-modal-view="{{ content320Url }}">{{ i18n('image_upload_tips', 'Tipps für das Hochladen von Fotos') }}</a>
                            <div data-modal-content="{{ content320Url }}"
                                 class="modal-view">
                                <div class="modal-view__close"
                                     data-modal-close="{{ content320Url }}">✕
                                </div>
                                <div class="modal-view__content">
                                    <picture class="lazy">
                                        <source class="lazy" data-srcset="{{ media(content640Url) }}" media="(min-width: 640px)" />
                                        <img class="lazy" data-src="{{ media(content320Url) }}" alt="{{ i18n('image_upload_tips') }}" />
                                    </picture>
                                </div>
                            </div>
                        {% endif %}
                    {% endblock modal__view %}
                </div>
            </div>
            <div class="form-controls form-controls--row">
                {% block image__upload %}
                    <div class="form__control">
                        {% include 'Frontend/Components/UppyLoad.twig' with {uppyUploadURL: '/image-upload', required: type.imageRequired} %}
                    </div>
                {% endblock image__upload %}
                {% block video__upload %}
                    <div class="form__control">
                        {% include 'Plugins/Insertion/Frontend/Components/Content/VideoUpload.twig' %}
                    </div>
                {% endblock video__upload %}
            </div>

            <span class="required">{{ i18n('required_inputs') }}</span>

        {% endif %}
    {% endblock %}

{% endblock page_content %}
