{% block page_content %}
    <div class="form-controls form-controls--container">

        <div class="cms-layout-row">

            <div class="form__control--row-half">
                {# contact information #}
                <div class="form__control ">
                    {% set label = i18n('insertion_description_' ~ type.name, '' ) is empty ? i18n('description') :  i18n('insertion_description_' ~ type.name) %}
                    <h3 class="form__sub-title">{{ label }}
                        {% if i18nExists('attribute_hint_description' ) %}
                            {% set cmsContent = cms_content('attribute_hint_description_' ~ type.name ~ '_' ~ meta.language.iso) %}
                            {% include 'Frontend/Components/Insertions/Hint.twig' with {
                                hint: i18n('attribute_hint_description'),
                                hintContent: cmsContent} %}
                        {% endif %}
                    </h3>

                    <textarea name="insertion_description"
                              class="form__input form__input--textarea form__input--textarea-description form-control"
                              placeholder="{{ i18n('description') }}">{{ data.insertion_description }}</textarea>
                </div>
            </div>
            <div class="form__control--row-half">
                {# contact attributes #}
                {% for attributeGroup in attributes %}
                    {% if attributeGroup.items|length > 0 and attributeGroup.name == 'contact' %}
                        {% for attribute in attributeGroup.items %}
                            {% include 'Plugins/Insertion/Frontend/FrontendInsertion/Attributes/' ~ attribute.attributeKey.type|capitalize  ~ '.twig'  with {'attribute': attribute.attributeKey, 'required': attribute.required } %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}

                <div class="form__control">
                    <h3 class="form__sub-title">{{ i18n('contact_partner') }}</h3>
                    <input type="text"
                           name="contact_name"
                           class="form__input form-control"
                           value="{% if data['contact_name'] %}{{ data['contact_name'] }}{% elseif lastContact.name %}{{ lastContact.name }}{% endif %}"
                           placeholder="{{ i18n('name') }}"/>
                </div>
                <div class="form__control">
                    <h3 class="form__sub-title">{{ i18n('contact_data') }}</h3>
                    <input type="email"
                           name="contact_email"
                           class="form__input form-control"
                           value="{% if data['contact_email'] %}{{ data['contact_email'] }}{% elseif lastContact.email %}{{ lastContact.email }}{% endif %}"
                           placeholder="{{ i18n('email') }}"/>
                </div>
                <div class="form__control">
                    <input type="tel"
                           name="contact_phone"
                           class="form__input form-control"
                           value="{% if data['contact_phone'] %}{{ data['contact_phone'] }}{% elseif lastContact.phone %}{{ lastContact.phone }}{% endif %}"
                           placeholder="{{ i18n('phone') }}">
                </div>
                <div class="form__control columns">
                    <h3 class="form__sub-title">{{ i18n('address') }} <span class="required">*</span></h3>
                    <div class="column column--one-third">
                        <input type="text"
                               name="contact_zip"
                               required
                               class="form__input form-control"
                               value="{% if data['contact_zip'] %}{{ data['contact_zip'] }}{% elseif lastContact.zip %}{{ lastContact.zip }}{% endif %}"
                               placeholder="{{ i18n('zip') }}"/>
                    </div>
                    <div class="column column--two-third">
                        <input type="text"
                               name="contact_city"
                               required
                               class="form__input form-control"
                               value="{% if data['contact_city'] %}{{ data['contact_city'] }}{% elseif lastContact.city %}{{ lastContact.city }}{% endif %}"
                               placeholder="{{ i18n('city') }}"/>
                    </div>
                </div>


                <div class="form__control">
                    <div class="form__input form__input--select">
                        {% if data['contact_country'] %}
                            {% set country = data['contact_country'] %}
                        {% elseif lastContact.country %}
                            {% set country = lastContact.country %}
                        {% else %}
                            {% set country = null %}
                        {% endif %}
                        <select class="form__input form__input--no-input" name="contact_country">
                            <option value="germany"
                                    {% if country is null or country is same as('germany') %}selected="selected"{% endif %}>{{ i18n('germany') }}</option>
                            <option value="austria"
                                    {% if country is same as('austria') %}selected="selected"{% endif %}>{{ i18n('austria') }}</option>
                            <option value="switzerland"
                                    {% if country is same as('switzerland') %}selected="selected"{% endif %}>{{ i18n('switzerland') }}</option>
                            <option value="netherlands"
                                    {% if country is same as('netherlands') %}selected="selected"{% endif %}>{{ i18n('netherlands') }}</option>
                            <option value="spain"
                                    {% if country is same as('spain', {en: 'Spain', de: 'Spanien'}) %}selected="selected"{% endif %}>{{ i18n('spain') }}</option>
                        </select>
                    </div>
                </div>
                <div class="form__control">
                    <label class="form__label form__label--checkbox">
                        <input type="hidden" value="off" name="contact_visible"/>
                        <input type="checkbox"
                               name="contact_visible"
                               {% if data['contact_visible'] == 'on' %}checked="checked"
                               {% elseif lastContact.visible %}checked="checked"{% endif %}
                               class="form__input form__input--checkbox form__input--checkbox-small"/>
                        {{ i18n('contact_data_visible', 'My contact data should be visible for registered users only.') }}
                    </label>
                </div>
            </div>

        </div>
        <div class="form-controls">
            <div class="attribute-group">
                <label class="title title--attribute-group" for="price-type">{{ i18n("price_type") }} <span
                        class="required">*</span></label>
                <div class="form__input form__input--select">
                    <select class="form__input form__input--no-input"
                            name="price_type"
                            id="price_type"
                            required>
                        <option value="" {% if not data['price_type'] %} selected {% endif %}
                                disabled>{{ i18n('price_type') }}</option>
                        <option value="fixed" {% if data['price_type'] is same as('fixed') %} selected {% endif %}
                                data-placeholder="{{ i18n('price') }}">{{ i18n('price_fixed') }}</option>
                        <option
                            value="negotiable" {% if data['price_type'] is same as('negotiable') %} selected {% endif %}
                            data-placeholder="{{ i18n('price') }}">{{ i18n('price_negotiable') }}</option>
                        <option
                            value="on_demand" {% if data['price_type'] is same as('on_demand') %} selected {% endif %}
                            data-placeholder="{{ i18n('to') }}">{{ i18n('price_on_demand') }}</option>
                        <option
                            value="price_range" {% if data['price_type'] is same as('price_range') %} selected {% endif %}
                            data-placeholder="{{ i18n('to') }}">{{ i18n('price_range') }}</option>
                        {% if type.name is same as("horse") or type.name is same as("foal") %}
                            <option
                                value="auction" {% if data['price_type'] is same as('auction') %} selected {% endif %}
                                data-placeholder="{{ i18n('price_start', 'Start Preis') }}">{{ i18n('price_type_auction', 'Gebot auf Auktion') }}</option>
                        {% endif %}
                    </select>
                </div>
                <label for="price"
                       class="title title--attribute-group">{{ i18n('price_' ~ type.name, i18n('price')) }} <span
                        class="required">*</span></label>
                <div class="form__control is-hidden">
                    <label for="price_min"
                           class="form__input form__input--inside-label">
                        <input type="number"
                               id="price_min"
                               min="{% if type.minPrice %}{{ type.minPrice }}{% else %}0{% endif %}"
                               max="{% if type.maxPrice %}{{ type.maxPrice }}{% else %}2000000{% endif %}"
                               value="{{ data['price_min'] }}"
                               class="form__input"
                               placeholder="{{ i18n('from') }}"/>
                        {% if i18nExists('unit_price') %}
                            <span class="input__unit">
                        {{ i18n('unit_price') }}
                    </span>
                        {% endif %}
                    </label>
                </div>

                <div class="form__control is-hidden">
                    <label for="auction_url"
                           class="form__input form__input--inside-label">
                        <input type="url"
                               value="{{ data['auction_url'] }}"
                               id="auction_url"
                               pattern="https://.*"
                               class="form__input"
                               placeholder="{{ i18n('link_to_auction','Link zur Auktion') }}" />
                    </label>
                </div>

                <div class="form__control">
                    <label for="price"
                           class="form__input form__input--inside-label">
                        <input type="number"
                               name="price"
                               id="price"
                               min="{% if type.minPrice %}{{ type.minPrice }}{% else %}0{% endif %}"
                               max="{% if type.maxPrice %}{{ type.maxPrice }}{% else %}2000000{% endif %}"
                               value="{{ data['price'] is empty ? '0' : data['price'] }}"
                               class="form__input"
                               placeholder="{{ i18n('price') }}"
                               required/>
                        {% if i18nExists('unit_price') %}
                            <span class="input__unit">
                        {{ i18n('unit_price') }}
                    </span>
                        {% endif %}
                    </label>
                </div>

                <div class="form__control form__control--checkbox">
                    <label for="tax" class="form__label form__label--checkbox"> {{ i18n('tax') }}</label>
                    <input type="hidden" name="tax" value="off"/>
                    <input type="checkbox"
                           class="form__input form__input--checkbox"
                           name="tax"
                           id="tax"
                        {% if data['tax'] == 'on' %}
                        checked="checked"
                        {% endif %}>
                </div>
            </div>

            {% block page_content__price %}
                {# price attributes #}
                {% for attributeGroup in attributes %}
                    {% if attributeGroup.items|length > 0 and attributeGroup.name == 'price' %}
                        <div class="attribute-group">
                            {% for attribute in attributeGroup.items %}
                                {% include 'Plugins/Insertion/Frontend/FrontendInsertion/Attributes/' ~ attribute.attributeKey.type|capitalize  ~ '.twig'  with {'attribute': attribute.attributeKey, 'required': attribute.required } %}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endblock page_content__price %}
        </div>
    </div>

    <span class="required">{{ i18n('required_inputs') }}</span>
{% endblock page_content %}
