{% block page_content %}
    {# premium information #}
    <div class="premium__information">
        <h3>{{ i18n('premium_information_basic_title') }}</h3>
        <div class="information__basic">
            <div class="icon__container">
                <div>
                    <svg class="icon icon--primary icon--profil">
                        <use xlink:href="#star"></use>
                    </svg>
                </div>
                <div class="text-light">
                    {{ i18n('premium_basic') }}
                </div>
            </div>
            <div class="features__container">
                <div class="feature text-light">
                    <svg class="icon icon--secondary">
                        <use xlink:href="#check"></use>
                    </svg>
                    <span>{{ i18n('two_insertions_incl') }}</span>
                </div>
                <div class="feature text-light">
                    <svg class="icon icon--secondary">
                        <use xlink:href="#check"></use>
                    </svg>
                    <span>{{ i18n('ninety_days_runtime') }}</span>
                </div>
                <div class="feature text-light">
                    <svg class="icon icon--red">
                        <use xlink:href="#close"></use>
                    </svg>
                    <span>{{ i18n('highlight_incl') }}</span>
                </div>
            </div>
        </div>

        <h3>{{ i18n('premium_information_add_features') }}</h3>

        <div class="features__select">
            <div class="selection">
                <div class="selection__title">
                    <div class="checkbox"></div>
                    <svg class="icon icon--secondary">
                        <use xlink:href="#check"></use>
                    </svg>
                    <h3 class="product__title">{{ i18n('preview_image') }}</h3>
                </div>
                <div class="selection__description">
                    Beschreibungstext Lorem ipsum dolor sit amet,
                    consetetur sadipscing elitr, sed diam.
                </div>
                <div class="selection__price">
                    4,99 €
                </div>
            </div>
        </div>

        <div class="features__select">
            <div class="selection">
                <div class="selection__title">
                    <div class="checkbox"></div>
                    <svg class="icon icon--secondary">
                        <use xlink:href="#check"></use>
                    </svg>
                    <h3 class="product__title">{{ i18n('top_insertion') }}</h3>
                </div>
                <div class="selection__description">
                    Beschreibungstext Lorem ipsum dolor sit amet,
                    consetetur sadipscing elitr, sed diam.
                </div>
                <div class="selection__price">
                    4,99 €
                </div>
            </div>
        </div>

        <div class="features__select">
            <div class="selection">
                <div class="selection__title">
                    <div class="checkbox"></div>
                    <svg class="icon icon--secondary">
                        <use xlink:href="#check"></use>
                    </svg>
                    <h3 class="product__title">{{ i18n('frontpage_galery') }}</h3>
                </div>
                <div class="selection__description">
                    Beschreibungstext Lorem ipsum dolor sit amet,
                    consetetur sadipscing elitr, sed diam.
                </div>
                <div class="selection__price">
                    4,99 €
                </div>
            </div>
        </div>

        <div class="features__select">
            <div class="selection">
                <div class="selection__title">
                    <div class="checkbox"></div>
                    <svg class="icon icon--secondary">
                        <use xlink:href="#check"></use>
                    </svg>
                    <h3 class="product__title">{{ i18n('facebook_newsletter') }}</h3>
                </div>
                <div class="selection__description">
                    Beschreibungstext Lorem ipsum dolor sit amet,
                    consetetur sadipscing elitr, sed diam.
                </div>
                <div class="selection__price">
                    4,99 €
                </div>
            </div>
        </div>

        <h3>{{ i18n('premiom_information_professional_title') }}</h3>
    </div>

{% endblock page_content %}


