{% extends "Backend/Master/Index.twig" %}

{% block pagecontent %}
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ i18n("backend_insertion_attribute_title", "Edit Attribute") }}</h3>
                        <div class="box-tools pull-right">
                            <form method="POST" id="delete-form"
                                  action="{{ url('backend_insertion_attribute_delete') ~ "?id=" ~ content.attribute.id }}"></form>
                            <div class="btn-group pull-right">
                                <button type="submit" form="delete-form" class="btn btn-danger">
                                    <i class="fa fa-trash"></i> {{ i18n('delete', 'delete') }}
                                </button>
                                <a href="{{ url('backend_insertion_attribute') }}" class="btn btn-default">
                                    <i class="fa fa-mail-reply"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="box-body">
                        <form method="POST" data-attribute-edit>
                            <div>
                                <div class="form-group">
                                    <label for="attributeName">{{ i18n("attribute_name", "Attribute Name") }}</label>
                                    <input name="name" type="text" class="form-control" id="attributeName"
                                           value="{{ content.attribute.name }}">
                                </div>
                                <div class="form-group">
                                    <label
                                        for="attributeType">{{ i18n("attribute_input_type", "Attribute Input Type") }}</label>
                                    <select name="type" id="attributeType" class="form-control select2">
                                        {% for type in content.types %}
                                            <option value="{{ type }}" {% if type == 'multi' %}data-additional-input="max-options"{% endif %}
                                                {% if select_compare(content.attribute.type, type) %}selected{% endif %}>
                                                {{ type }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label
                                        for="attributeFilterType">{{ i18n("attribute_filter_type", "Attribute Filter Type") }}</label>
                                    <select name="filterType" id="attributeFilterType" class="form-control select2">
                                        {% for type in content.types %}
                                            <option value="{{ type }}"
                                                {% if select_compare(content.attribute.filterType, type ) %}selected{% endif %}>
                                                {{ type }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="sortable">
                                    {{ i18n("is-sortable", "Sortable") }}
                                </label>
                                <input name="sortable" type="checkbox"
                                       id="sortable"
                                       {{ content.attribute.sortable ? 'checked' : '' }}>
                            </div>

                            <div data-editable-table class="table-editable">
                                <span data-table-add class="table-add glyphicon glyphicon-plus"></span>
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>{{ i18n("value", "Value") }}</th>
                                        <th>{{ i18n("sub_attribute", "Sub Attribute") }}</th>
                                        <th><i class="fa fa-user-times"></i> {{ i18n("delete") }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="hide">
                                        <td data-type="text"
                                            data-label="value"
                                            contenteditable="true">{{ i18n("undefined", "undefined") }}</td>
                                        <td data-type="select"
                                            data-label="sub_attribute">
                                            <select name="select">
                                                <option value="0" selected>{{ i18n('none', 'None') }}</option>
                                                {% for attribute in content.attributeList %}
                                                    <option value="{{ attribute.id }}">{{ attribute.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <span class="table-remove glyphicon glyphicon-remove"
                                                  data-table-remove></span>
                                        </td>
                                    </tr>
                                    {% for value in content.attribute.values %}
                                        <tr>
                                            <td data-type="text"
                                                data-id="{{ value.id }}"
                                                data-label="value"
                                                contenteditable="true">{{ value.value }}</td>
                                            <td data-type="select"
                                                data-label="sub_attribute">
                                                <select class="form-control select2">
                                                    <option value="0" selected>{{ i18n('none', 'None') }}</option>
                                                    {% for attribute in content.attributeList %}
                                                        <option value="{{ attribute.id }}"
                                                            {% if value.subAttributeKey.id is defined and select_compare(value.subAttributeKey.id, attribute.id) %}
                                                                selected
                                                            {% endif %}
                                                        >{{ attribute.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                            <span class="table-remove glyphicon glyphicon-remove"
                                                  data-table-remove></span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <input name="values" type="hidden" data-export>
                            <button class="btn" type="submit" data-export-button>{{ i18n("submit") }}</button>
                        </form>

                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </section>
{% endblock %}
