<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-body">
                {% if not crudItem and crud.context != 'create' %}
                    <p>
                        {{ i18n('backend_crud_entity_not_exist', {en: 'Entity does not exist.', de: 'Element existiert nicht.'}) }}
                    </p>
                    <a href="{{ url(meta.route.parentName) }}" class="btn btn-default">
                        {{ i18n('backend_crud_btn_back2index', {en: 'back to overwiew', de: 'zurück zur Übersicht'}) }}
                    </a>
                {% elseif crud.actions[crud.context] %}
                    {% if crud.context != 'view' %}
                        <form method="post" enctype="multipart/form-data">
                    {% endif %}
                    {% if crud.context != 'create' %}
                        <input type="hidden" name="data[id]" value="{{ crudItem.id }}" />
                        {#<p>{{ crud.model|replace({'_': ' - '}) }} - ID: {{ crudItem.id }}</p>#}
                        <p>ID: {{ crudItem.id }}</p>
                    {% endif %}
                    {% for crudProperty in crud.properties if crudProperty.crud[crud.context] and crudProperty.crud[crud.context]|default('off') != 'off' and crudProperty.name != 'id' %}
                        <div class="form-group crud-datatype-{{ crudProperty.type }} crud-property-{{ crudProperty.name }}">
                            {% if crudProperty.label is defined %}
                                {% if crudProperty.label is array %}
                                    {% set crudFieldLabel = i18n(crudProperty.label) %}
                                {% else %}
                                    {% set crudFieldLabel = crudProperty.label %}
                                {% endif %}
                            {% elseif crudProperty.name == 'id' %}
                                {% set crudFieldLabel = 'ID' %}
                            {% else %}
                                {% set crudFieldLabel = crudProperty.name|ucfirst %}
                            {% endif %}
                            {% set crudFieldID = ['form', crud.context, crud.model|lower, crudProperty.name]|join('_') %}
                            <label for="{{ crudFieldID }}">
                                {{ crudFieldLabel }}
                                {% if crudProperty.editor.required and crud.context != 'delete' and crudProperty.crud[crud.context]|default('off') == 'editable' %}
                                    <i class="fa fa-exclamation-triangle text-primary" title="{{ i18n('required', {en: 'required', de: 'erforderlich'}) }}"></i>
                                {% endif %}
                            </label>
                            {% if crud.context =='delete' or crudProperty.name == 'id' or crudProperty.crud[crud.context] == 'readonly' %}
                                {% include 'Backend/CRUD/Components/Renderer.twig' %}
                            {% else %}
                                {% include 'Backend/CRUD/Components/Editor.twig' %}
                            {% endif %}
                        </div>
                    {% endfor %}
                    <input type="hidden" name="action" value="{{ crud.context }}" />
                    <a href="{{ url(meta.route.parentName) }}" class="btn btn-default">
                        {{ i18n('backend_crud_btn_back2index', {en: 'back to overwiew', de: 'zurück zur Übersicht'}) }}
                    </a>
                    {% if crud.context == 'view' %}
                        {% if crud.actions.update %}
                            <a href="{{ url(meta.route.parentName ~ '_update', {id: crudItem.id}) }}"
                               class="btn btn-primary">
                                {{ i18n('backend_crud_btn_update', {en: 'update', de: 'aktualisieren'}) }}
                            </a>
                        {% endif %}
                        {% if crud.actions.delete %}
                            <a href="{{ url(meta.route.parentName ~ '_delete', {id: crudItem.id}) }}"
                               class="btn btn-danger">
                                {{ i18n('backend_crud_btn_delete', {en: 'delete', de: 'löschen'}) }}
                            </a>
                        {% endif %}
                    {% else %}
                        <input type="submit"
                               class="btn {% if crud.context == 'delete' %}btn-danger{% else %}btn-primary{% endif %}"
                               value="{{ i18n('backend_crud_btn_' ~ crud.context, crud.context) }}">
                        </form>
                    {% endif %}
                {% else %}
                    <div class="alert alert-info" role="alert">
                        {{ i18n('backend_crud_action_disabled', {en: 'Action %s is disabled.', de: 'Aktion %s ist deaktiviert.'})|format(crud.context) }}
                    </div>
                {% endif %}
            </div>{# end .box-body #}
        </div>{# end .box #}
    </div>{# end .col #}
</div>{# end .row #}
