{% if column.readonly or column.name == "id" %}
    <span>{{ item[column.name] }}</span>
{% else %}

    {% if column.type == "object" %}
    {% elseif column.type == "int" %}
        <input type="text" name="{{ column.name }}" value="{{ item[column.name] }}"/>
    {% else %}
        <input type="text" name="{{ item.id }}_{{ column.name }}" value="{{ item[column.name] }}"/>
    {% endif %}
{% endif %}
