<div class="form__control form__control--{{ attribute.filterType }}">
    <label for="insertion[{{ attribute.id }}]"
           class="form__label {{ label_class }}">{{ i18n(attribute.name) }}</label>
    <input type="date"
           name="insertion[{{ attribute.id }}]"
           value="{{ data['insertion'][attribute.id] }}"
           class="form__input form-control"
           placeholder="{{ i18n(attribute.name) }}"
           {% if required %}required{% endif %}/>
</div>
