<div class="form__control">

    <label for="insertion[{{ attribute.id }}][]"
           class="form__label">{{ i18n(attribute.name) }}</label>

    <div class="select"
         data-multi-select="insertion[{{ attribute.id }}][]"
         {% if required %}required{% endif %}>
        <p class="select__search"
           data-multi-select-search></p>
        <ul class="select__list"
            data-multi-select-list>
            {% for value in attribute.values %}
                <li class="select__item {% if value.id in data[page]['insertion'][attribute.id] %}select__item--checked{% endif %}"
                    data-multi-select-item="{{ value.id }}">
                    {{ i18n(value.value) }}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
