<div class="form__control">
    <label for="insertion[{{ attribute.id }}"
           class="form__input form__input--inside-label">
        <input type="number"
               name="insertion[{{ attribute.id }}]"
               value="{{ data['insertion'][attribute.id] }}"
               min="0"
               class="form__input"
               placeholder="{{ attribute.name }}"
        />
        {% set unit = i18n('unit_' ~  attribute.name, '') %}
        {% if unit is not empty %}
            <span class="input__unit">
                {{ unit }}
            </span>
        {% endif %}
    </label>
</div>
