{% extends "Plugins/Messenger/Frontend/Components/Content/Messenger.twig" %}

{% block messenger_header %}
    {% if activeConversation.type == "insertion" %}
        {% if activeConversation.requester == current_user.id %}
            {% set partner = getChatPartnerInformation('requested', activeConversation.targetId) %}
        {% else %}
            {% set partner = getChatPartnerInformation('requester', activeConversation.requester) %}
        {% endif %}
        <i class="user__image" {% if partner.imageId is not null %}style="background-image: url('{{ media(partner.imageId, 50) }}');"{% endif %} ></i>
        <h3 class="title title--chat">{{ partner.title }}</h3>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock messenger_header %}

{% block messenger_conversation_list %}
    {% if conversation.type == "insertion" %}
        {% if conversation.requester == current_user.id %}
            {% set partner = getChatPartnerInformation('requested', conversation.targetId) %}
        {% else %}
            {% set partner = getChatPartnerInformation('requester', conversation.requester) %}
        {% endif %}

        <i class="user__image" {% if partner.imageId is not null %}style="background-image: url('{{ media(partner.imageId, 50) }}');"{% endif %}></i>
        <span class="chat__text">{{ partner.title }}</span>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}