{% extends "Plugins/Messenger/Frontend/Components/Content/Messenger.twig" %}

{% block messenger_header %}
    {% if activeConversation.type == "insertion" %}
        {% if activeConversation.requester == current_user.id %}
            {% set partner = getChatPartnerInformation('requested', activeConversation.targetId) %}
            {# link to the insertion detail page #}
            <a href="{{ url('insertions_detail', {id: partner.link }) }}" title={{ i18n('to_insertion') }}>
                <div class="user__image"
                     {% if partner.imageId is not null %}style="background-image: url('{{ media(partner.imageId, 50) }}');"{% endif %} >
                </div>
            </a>
            <h3 class="title title--chat">{{ partner.title }}</h3>
        {% else %}
            {% set partner = getChatPartnerInformation('requester', activeConversation.requester) %}
            {% if partner.link is not null %}
                {# if user has insertion profile, link there #}
                <a href="{{ url('insertions_profile', {id: partner.link}) }}" title="{{ i18n('to_profile') }}">
                    <div class="user__image"
                         {% if partner.imageId is not null %}style="background-image: url('{{ media(partner.imageId, 50) }}');"{% endif %} >
                    </div>
                </a>
            {% else %}
                <div class="user__image"
                     {% if partner.imageId is not null %}style="background-image: url('{{ media(partner.imageId, 50) }}');"{% endif %} >
                </div>
            {% endif %}
            <h3 class="title title--chat">{{ partner.title }}</h3>
        {% endif %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock messenger_header %}

{% block messenger_conversation_list %}
    {% if conversation.type == "insertion" %}
        {% if conversation.requester == current_user.id %}
            {% set partner = getChatPartnerInformation('requested', conversation.targetId) %}
        {% else %}
            {% set partner = getChatPartnerInformation('requester', conversation.requester) %}
        {% endif %}
        <i class="user__image"
           {% if partner.imageId is not null %}style="background-image: url('{{ media(partner.imageId, 50) }}');"{% endif %}></i>
        <span class="chat__text">{{ partner.title }}</span>
        <i class="unread__messages"
           {% if conversation.unreadMessages|number_format == 0 %}style="visibility: hidden"{% endif %}><span>{{ conversation.unreadMessages|single_digit }}</span></i>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
