<a href="#" onclick="Oforge.Media.open({'preview': 'img[data-preview=\'{{ name }}\']', 'target': 'input[name=\'{{ name }}\']'})">
    <div class="preview-image">
        <img data-preview="{{ name }}" src="{% if not data is null %}{{ media(data, 200) }}{% else %}/Themes/Base/ContentTypes/__assets/img/image.png{% endif %}" width="200" title="{{ data }}" />
    </div>

    <input type="hidden" name="{{ name }}" />
</a>