<a href="#" class="image-field" data-config="{{ config|default({})|json_encode }}">
    <div class="preview-image">
        {% set imagePlaceholder = '/Themes/Base/ContentTypes/__assets/img/image.png' %}
        {% set imageUrl = (data is null ? imagePlaceholder : media(data, 200)) %}
        <img data-preview="{{ name }}" width="200" title="{{ data }}" src="{{ imageUrl }}" data-current="{{ imageUrl }}"
             data-placeholder="{{ imagePlaceholder }}" />
    </div>
    <input type="hidden" name="{{ name }}" value="{{ data }}" data-current="{{ data }}" />
</a>
