<div class="btn-group pull-right">
    <a class="btn btn-info" target="_blank"
       href="{{ url('frontend_blog_view', {postID: item.id, seoUrlPath: item.seoUrlPath}) }}"
       title="{{ i18n('plugin_blog_goto_frontend_post', 'Show post in frontend') }}">
        <i class="fa fa-eye"></i>
    </a>
    <a class="btn btn-primary"
       href="{{ url('backend_blog_comments', {}, {post: item.id}) }}"
       title="{{ i18n('plugin_blog_goto_comments_of_post', 'Show comments of post') }}">
        <i class="fa fa-comment"></i>
        &nbsp;{{ item.comments }}
    </a>
</div>
