{% extends "@parent/Frontend/Layout.twig" %}

{% block content %}
    {% include 'Plugins/FrontendUserManagement/Frontend/Components/AccountNavBar.twig'
        with { back_link : true, content_title: i18n('insertions_create', 'Create Insertion')} %}

    <div class="content content--insertions">
        {% block insertions %}
            <div class="panel panel--insertions flex insertion-create">

                {% block insertions_content %}
                    {% set content = content('insertion_create_' ~ meta.language) %}
                    {% if content %}
                        {% include 'ContentTypes/' ~ content.path ~ '/Index.twig' with {'data': content} %}
                    {% endif %}
                {% endblock insertions_content %}

                <div class="insertion-create__type-overview">
                    {% for type in types %}

                        <div class="insertion-create__type">

                            <a href="{% if type.children is defined %}{{ url('insertions_createType', { type : type.id}) }}{% else %}{{ url('insertions_createSteps', { type : type.id, page: 1}) }}{% endif %}"
                               class="">
                                {% if type.image.id is defined %}
                                    <img class="icon icon--large icon--light icon--inverted"
                                         src="{{ media(type.image.id, 300) }}" />
                                {% else %}
                                    <svg class="icon icon--large icon--light ">
                                        <use xlink:href="#top_inserat"></use>
                                    </svg>
                                {% endif %}
                                <h2 class="type--name">{{ i18n(type.name) }}</h2>
                                <span class="type--description">{{ i18n('insertion_create_type_description_' ~ type.name) }}</span>

                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endblock insertions %}
    </div>
{% endblock content %}
