{% extends "@parent/Frontend/Layout.twig" %}

{% block title %}{% set title = insertion.content[0].title ~ i18n('title_separator', {en: ' | ', de: ' | '}) ~ i18n(insertion.insertionType.name) %}{{ title|length > 35 ? title|slice(0, 35) : title }}{{ i18n('title_separator', {en: ' | ', de: ' | '}) }}{{ config('system_project_name') }}{% endblock title %}

{% block description %}{% set description = insertion.content[0].description %}{{ description|length > 255 ? description|slice(0, 220) : description }}{{ i18n('title_separator', {en: ' | ', de: ' | '}) }}{{ config('system_project_name') }}{% endblock description %}


{% block layout__header %}
    {% if profile.background.id is not empty %}
        {% set headerimage = profile.background.id %}
    {% endif %}
    {{ parent() }}
{% endblock layout__header %}

{% block content %}
    <div
        class="content content--insertion flex {% if profile.background.id is not empty %} has-header-image {% endif %}">
        <div class="main">
            {% if not insertion.moderation %}
                {% block insertion_detail__flash_message %}
                {% set flashMessage = { 0 : {'message' : i18n('insertion_needs_moderation'), 'type' : 'info', 'dismissible' : true } } %}
                {% include 'Frontend/Components/FlashMessages.twig' with {'flashMessages' : flashMessage} %}
                {% endblock insertion_detail__flash_message %}
            {% endif %}
            <div class="panel panel--product-view">

                {% block insertion_detail__breadcrumb %}
                    {% include 'Plugins/Insertion/Frontend/Components/Breadcrumb.twig' %}
                {% endblock insertion_detail__breadcrumb %}

                {% block insertion_detail__heading %}
                    <div class="product-view--heading">
                        <h3 class="title title--3 title--product">{{ insertion.content[0].title }}</h3>
                        <span
                            class="title title--3 product-view__price">{{ i18n('price_' ~ insertion.insertionType.name, i18n('price')) }}
                            <span class="price-value">{{ insertion.price|number_format(0, ',', '.') }} €</span>{% if insertion.tax %}<span class="product-view__tax">, {{ i18n('vat_identifiable') }}</span>{% endif %}
                    </span>
                    </div>
                {% endblock insertion_detail__heading %}

                {% block insertion_detail__images %}
                    {% include 'Plugins/Insertion/Frontend/FrontendInsertion/ProductImages.twig' %}
                {% endblock insertion_detail__images %}
            </div>

            <div class="panel panel--top-attributes">
                <div class="top-attributes">
                    <div class="product__attribute">
                        <span class="attribute-label">{{ i18n('insertion_detail_name', 'Name') }}</span>
                        <span class="attribute-value">{{ insertion.content[0].name }}</span>
                    </div>

                    {% for attribute in top_values %}
                        {% include 'Plugins/Insertion/Frontend/FrontendInsertion/DetailAttributes/' ~ attribute.type|capitalize  ~ '.twig'  with {'attribute': attribute, 'value' : insertion_values[attribute.attributeKey]} %}
                    {% endfor %}


                    <div class="product__attribute">
                    <span
                        class="attribute-label">{{ i18n('price_' ~ insertion.insertionType.name, i18n('price')) }}</span>
                        <span class="attribute-value">{{ insertion.price|number_format(0, ',', '.') }} €</span>
                    </div>
                </div>
            </div>

            {% block insertion_detail__attributes %}
                {% include 'Plugins/Insertion/Frontend/FrontendInsertion/DetailAttributes.twig' %}
            {% endblock insertion_detail__attributes %}

            <div class="panel panel--product-description ">
                <div class="description__head">
                    <h3 class="panel__header has--bottom-separator">{{ i18n('insertion_detail_description_title', 'Beschreibung') }}</h3>
                    <div class="language-switch"></div>
                </div>
                <div class="description__body">
                    {{ insertion.content[0].description|nl2br }}
                </div>
            </div>

            {% block insertion_detail__extended_content %}
            {% endblock insertion_detail__extended_content %}
        </div>

        {% block insertion_detail__sidebar %}
            {% include 'Plugins/Insertion/Frontend/FrontendInsertion/DetailSidebar.twig' %}
        {% endblock insertion_detail__sidebar %}
    </div>
{% endblock content %}
