{% block detail__sidebar %}
    <div
        class="sidebar sidebar--insertion {% if profile.user.detail.image is not empty %}has-provider-image{% endif %}">

        {% block sidebar__panel_provider %}
            {% if profile.user.detail.image is not empty %}
                <div class="panel panel--provider">
                    <h3 class="provider_title">{{ i18n('insertion_detail_provider_headline') }}</h3>
                    <div class="provider_image-container">
                        <img src="{{ media(profile.user.detail.image, 500) }}" class="provider_image"
                             alt="{{ profile.imprintName }}">
                    </div>

                    <a href="{{ url('insertions') }}/profile/{{ profile.id }}"
                       class="provider_link">{{ i18n('insertion_detail_provider_link') }}
                        <svg class="icon icon--primary">
                            <use xlink:href="#read_more"></use>
                        </svg>
                    </a>
                </div>
            {% endif %}
        {% endblock sidebar__panel_provider %}

        {% set contact = insertion.contact %}

        {% block sidebar__panel_contact %}
            {% if contact.visible == 'true' %}
                <div class="panel panel--contact contact">
                    <div class="contact__name">{{ contact.name }}</div>
                    <div class="contact__address"><span class="adress__zip">{{ contact.zip }}</span> <span
                            class="adress__city">{{ contact.city }}</span></div>
                    {% if contact.phone is not empty %}
                        <div
                            class="contact__phone">{{ i18n ('insertion_detail_telephone', 'Tel.:') }} {{ contact.phone }}</div>
                    {% endif %}
                    <a href="{{ url("insertions_contact", {id: insertion.id}) }}"
                       class="button button--secondary">{{ i18n('insertion_detail_contact_advertiser', 'Anbieter Kontaktieren') }}</a>
                    <a href="{{ url('frontend_account_insertions_toggleBookmark', {insertionId: insertion.id }) }}"
                       class="button button--secondary">{% if hasBookmark(insertion.id) %} {{ i18n('insertion_detail_contact_remove_from_wishlist', 'Aus meinem Stall entfernen') }} {% else %}{{ i18n('insertion_detail_contact_add_to_wishlist', 'In meinen Stall stellen') }}{% endif %}</a>
                </div>
            {% endif %}
        {% endblock sidebar__panel_contact %}

        {% block sidebar__panel_map %}
            <div class="panel panel--map map">
                <div class="map__address"><span class="adress__zip">{{ contact.zip }}</span> <span
                        class="adress__city">{{ contact.city }}</span></div>
                <div class="map__view">
                    <iframe class="external--content content--iframe"
                            src="https://www.google.com/maps?ie=UTF8&amp;Iwloc=near&amp;output=embed&amp;t=m&amp;z=15&amp;q={{ contact.zip }}+{{ contact.city }}"
                            width="100%" height="100%" frameborder="0">
                    </iframe>
                </div>
            </div>
        {% endblock sidebar__panel_map %}

        {% block detail_sidebar__cross_sell %}
            {% include 'Plugins/Insertion/Frontend/FrontendInsertion/DetailSidebarCrosssell.twig' %}
        {% endblock detail_sidebar__cross_sell %}
    </div>
{% endblock detail__sidebar %}
