{% extends "@parent/Frontend/Layout.twig" %}

{% block content %}
    {% if not insertion.moderation %}
        {{ i18n('insertion_needs_moderation') }}
        {% include 'Frontend/Components/FlashMessages.twig' %}
    {% endif %}

    <div class="content content--insertion flex">
        <div class="main">
            <div class="panel panel--product-view">
                {% block insertion_detail__heading %}
                    <div class="product-view--heading">
                        <h3 class="title title--product">{{ insertion.content[0].title }}</h3>
                        <span class="product-view__price"><span class="price-value">{{ insertion.price }}</span></span>
                    </div>
                {% endblock insertion_detail__heading %}

                {% block insertion_detail__images %}
                    {% include 'Plugins/Insertion/Frontend/FrontendInsertion/ProductImages.twig' %}
                {% endblock insertion_detail__images %}
            </div>

            <div class="panel panel--top-attributes">
                <div class="top-attributes">
                    <div class="product-view__price">
                        <span class="attribute-label">{{ i18n('insertion_detail_price', 'Preis') }}</span>
                        <span class="attribute-value">{{ insertion.price }}</span>
                    </div>
                    <div class="product-view__name">
                        <span class="attribute-label">{{ i18n('insertion_detail_name', 'Name') }}</span>
                        <span class="attribute-value">{{ insertion.content[0].name }}</span>
                    </div>
                    {% for attributeGroup in attributes %}
                        {% if attributeGroup.items|length %}
                            {% for attribute in attributeGroup.items %}
                                {% if attribute.top == true %}
                                    {% include 'Plugins/Insertion/Frontend/FrontendInsertion/DetailAttributes/' ~ attribute.attributeKey.type|capitalize  ~ '.twig'  with {'attribute': attribute, 'values' : values} %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="panel panel--main-attributes">
                <div class="main-attributes">
                    {% for attributeGroup in attributes %}
                        {% if attributeGroup.items|length > 0 and (attributeGroup.name == 'main') %}
                            {% for attribute in attributeGroup.items %}
                                {% include 'Plugins/Insertion/Frontend/FrontendInsertion/DetailAttributes/' ~ attribute.attributeKey.type|capitalize  ~ '.twig'  with {'attribute': attribute, 'values' : values} %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% block insertion_detail__attributes %}
                {% include 'Plugins/Insertion/Frontend/FrontendInsertion/DetailAttributes.twig' %}
            {% endblock insertion_detail__attributes %}

            {% if extended %}
                <div class="panel panel--product-attributes attributes--extended">
                    <h3 class="title title--attributes">Details</h3>
                    <div class="attribute">
                        <span class="attribute-label">Label</span>
                        <span class="attribute-value">Value</span>
                    </div>
                    <div class="attribute">
                        <span class="attribute-label">Label</span>
                        <span class="attribute-value">Value</span>
                    </div>
                    <div class="attribute">
                        <span class="attribute-label">Label</span>
                        <span class="attribute-value">Value</span>
                    </div>
                    <div class="attribute">
                        <span class="attribute-label">Label</span>
                        <span class="attribute-value">Value</span>
                    </div>
                </div>
            {% endif %}

            <div class="panel panel--product-description description">
                <div class="description__head">
                    <h4 class="title">{{ i18n('insertion_detail_description_title', 'Beschreibung') }}</h4>
                    <div class="language-switch"></div>
                </div>
                <div class="description__body">
                    {{ insertion.content[0].description }}
                </div>
            </div>
            {% block insertion_detail__pedigree %}
            {% endblock insertion_detail__pedigree %}
        </div>

        <div class="sidebar sidebar--insertion">

            {% if extended %}
                <div class="panel panel--provider">

                </div>
            {% endif %}

            {% set contact = insertion.contact %}
            <div class="panel panel--contact contact">
                <div class="contact__name">{{ contact.name }}</div>
                <div class="contact__address"><span class="adress__zip">{{ contact.zip }}</span> <span
                            class="adress__city">{{ contact.city }}</span></div>
                <div class="contact__phone">{{ i18n ('insertion_detail_telephone', 'Tel.:') }} {{ contact.phone }}</div>
                <a href="{{ url("insertions_contact", {id: insertion.id}) }}"
                   class="button button--secondary">{{ i18n('insertion_detail_contact_advertiser', 'Anbieter Kontaktieren') }}</a>
                <a href="{{ url('frontend_account_insertions_toggleBookmark', {'insertionId': insertion.id }) }}"
                   class="button button--secondary">{% if hasBookmark(insertion.id) %} Japs vorhanden {% else %}{{ i18n('insertion_detail_contact_add_to_wishlist', 'In meinen Stall stellen') }}{% endif %}</a>
            </div>

            <div class="panel panel--map map">
                <div class="map__address">
                    12345 Velgast
                </div>
                <div class="map__view">

                </div>
            </div>

            <div class="panel panel--cross-sell cross-sell">
                <div class="cross-sell__title">Other insertions</div>
                <div class="cross-sell__image">
                    <img src="https://placeponi.es/300/300" alt="" class="image">
                </div>
                <div class="cross-sell__description">
                    <div class="name">Some product</div>
                    <div class="price">9.000.000 €</div>
                    <div class="insertion-provider">from Superproducts</div>
                </div>
                <div class="buttton button--primary">To the insertion</div>
            </div>

            <div class="panel panel--cross-sell cross-sell">
                <div class="cross-sell__title">Some new blog post</div>
                <div class="cross-sell__image">
                    <img src="https://placeponi.es/300/300" alt="" class="image">
                </div>
                <div class="cross-sell__description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At eos ex omnis perferendis,
                        quidem tempora unde. Accusantium autem commodi
                        excepturi harum, officiis pariatur quasi quidem sint sunt tempora. Animi, non?</p>
                </div>
                <a href="#" class="button button--primary">To the blog post</a>
            </div>
        </div>
    </div>
{% endblock content %}
