{% extends "@parent/Frontend/Layout.twig" %}
{% block content %}
    <div class="content content--insertions">
        <div class="panel panel--insertions">
            <a class="button button--primary back__button"
               href="{{ url('frontend_account_insertions') }}">{{ i18n('back') }}
            </a>
            <form class="form form--insertion"
                  action="{{ url('insertions_edit', { id : data.id}) }}"
                  method="post"
                  enctype="multipart/form-data">

                {% block page_content %}
                    {% include 'Plugins/Insertion/Frontend/FrontendInsertion/PageContent/1.twig' %}
                    {% include 'Plugins/Insertion/Frontend/FrontendInsertion/PageContent/2.twig' %}
                    {% include 'Plugins/Insertion/Frontend/FrontendInsertion/PageContent/3.twig' %}
                {% endblock page_content %}

                <div class="form-controls">
                    <div class="form__control">
                        <input type="hidden" name="token" value="{{ token() }}">
                        <input type="hidden" name="current_page" value="{{ page }}">
                        <input type="submit" value="{{ i18n('insertion_update') }}"
                               class="form__input form__input--submit button">
                    </div>
                </div>
            </form>
            <div class="panel" style="padding-left: 0">
                <a class="button button--primary back__button"
                   href="{{ url('frontend_account_insertions') }}">{{ i18n('back') }}
                </a>
            </div>
        </div>
    </div>

{% endblock content %}
