{% block product_images %}
    {% if not insertion.media|length < 1 %}
        <div class="product-images {% if insertion.media|length == 1 %}single-image{% endif %}">
            <div class="product-view__image">
                <div class="slider slider--detail-main">
                    {% for item in insertion.media %}
                        {% if item.content.type == 'video/vimeo' %}
                            <div class="slide video" data-vimeo-video-id="{{ item.content.path }}"></div>
                        {% endif %}
                    {% endfor %}
                    {% for item in insertion.media %}
                        {% if item.content.type != 'video/vimeo' %}
                            <div class="slide thumbnail">
                                {% if item is defined and item.content|length > 0 and item.content.path is defined %}
                                    <img src="{{ media(item.content.path, 400) }}" alt="{{ item.content.name }}"
                                         class="thumbnail__image">
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="thumbnails thumbnails--product">
                <div class="slider slider--detail-nav">
                    {% for item in insertion.media %}
                        {% if item.content.type == 'video/vimeo' %}
                            <div class="slide thumbnail">
                                <img src='' data-video-thumbnail="true" class="thumbnail__image">
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% for item in insertion.media %}
                        {% if item.content.type != 'video/vimeo' %}
                            <div class="slide thumbnail">
                                {% if item is defined and item.content|length > 0 and item.content.path is defined %}
                                    <img src="{{ media(item.content.path, 600) }}" alt="{{ item.content.name }}"
                                         class="thumbnail__image">
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock product_images %}
