{% extends "@parent/Frontend/Layout.twig" %}

{% block layout__header %}
    {% set headerimage = profile.background.id %}
    {{ parent() }}
{% endblock layout__header %}

{% block content %}
    <div class="content content--insertion content--supplier flex">
        <div class="main">
            <div class="insertion__supplier">
                <div class="user__picture"
                     {% if profile.user.detail.image is not empty %}style="background-image: url('{{ media(profile.user.detail.image, 300) }}');"{% endif %}></div>
            </div>

            <div class="contact--links flex">
                <div class="contact--icons">
                    {% if profile.imprintEmail is not empty %}
                        <a class="contact--icon" href="mailto:{{ profile.imprintEmail }}">
                            <div class="wrapper">
                                <svg class="icon icon--secondary mail pulse-on-hover">
                                    <use xlink:href="#email"></use>
                                </svg>
                            </div>
                        </a>
                    {% endif %}
                    {% if profile.imprintPhone is not empty %}
                        <a class="contact--icon center" href="tel:{{ profile.imprintPhone }}">
                            <div class="wrapper">
                                <svg class="icon icon--secondary telephone   pulse-on-hover">
                                    <use xlink:href="#telephone"></use>
                                </svg>
                            </div>
                        </a>
                    {% endif %}
                    {% if profile.imprintFacebook is not empty %}
                        <a class="contact--icon"
                           href="{{ i18n('facebook_base_url', 'https://www.facebook.com/') }}{{ profile.imprintFacebook }}"
                           target="_blank">
                            <div class="wrapper">
                                <svg class="icon icon--secondary  pulse-on-hover">
                                    <use xlink:href="#facebook"></use>
                                </svg>
                            </div>
                        </a>
                    {% endif %}
                </div>
            </div>

            <div class="panel panel--supplier-description description">
                <div class="description__head">
                    <h4 class="title">{{ profile.user.detail.firstName }} {{ profile.user.detail.lastName }}</h4>
                    <div class="language-switch"></div>
                </div>

                <div class="description__body">
                    <span>{{ profile.description|nl2br }}</span>
                </div>
            </div>

            {% block profile_slider %}
                <div class="panel panel--supplier-slider">
                    <div class="slider--supplier">
                        {% for insertion in insertions %}
                            <a href="{{ url('insertions_detail', {id: insertion.id}) }}">
                                <div class="slide">
                                    {% if insertion.media is defined and insertion.media|length > 0 and insertion.media[0].content is defined %}
                                        <img src="{{ media(insertion.media[0].content, 1024) }}"
                                             alt="{{ insertion.content[0].name }}"
                                             class="image">
                                    {% else %}
                                        <svg class="icon icon--placeholder">
                                            <use xlink:href="#placeholder-insertion"></use>
                                        </svg>
                                    {% endif %}
                                    <div class="insertion--link">
                                        <svg class="icon icon--insertion">
                                            <use xlink:href="#insertion"></use>
                                        </svg>
                                        {{ i18n('go_to_insertion') }}
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endblock profile_slider %}
        </div>

        <div class="sidebar sidebar--insertion">

            {% if extended %}
                <div class="panel panel--provider">

                </div>
            {% endif %}

            <div class="panel panel--contact contact">
                {% if profile.imprintName is not empty %}
                <div class="contact__name">
                    <strong>{{ profile.imprintName }}</strong></div>
                {% endif %}
                <div class="contact__address">{{ profile.imprintZipCity }}</div>
                {% if profile.imprintPhone is not empty %}
                    <div class="contact__phone"><strong class="pulse-on-hover"><a
                                    href="tel:{{ profile.imprintPhone }}">{{ i18n('tel') }}
                                : {{ profile.imprintPhone }}</a></strong>
                    </div>
                {% endif %}
            </div>

            {% if profile.imprintZipCity is not empty %}
                <div class="panel panel--map map">
                    <div class="map__address">
                        {{ profile.imprintZipCity }}
                    </div>
                    <div class="map__view">
                        <div class="external--content content--iframe"
                             data-src="https://maps.google.com/maps?ie=UTF8&amp;Iwloc=near&amp;output=embed&amp;t=m&amp;z=15&amp;q={% if profile.imprintStreet is not empty %}{{ profile.imprintStreet }}+{% endif %}{{ profile.imprintZipCity }}"
                             data-width="100%" data-height="100%" data-frameborder="0"
                             data-iframe="true">
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="panel panel--about about">
                <div class="about__title"><strong>{{ i18n('supplier-impress') }}</strong></div>
                <div class="about__description">
                    {% if profile.imprintName is not empty %}
                        <div class="authority">{{ profile.imprintName }}</div>
                    {% endif %}
                    <div class="address">
                        <div class="street">{{ profile.imprintStreet }}</div>
                        <div class="city">{{ profile.imprintZipCity }}</div>
                        <div class="country">{{ profile.user.address.country }}</div>
                    </div>
                    <div class="contact upper">
                        {% if profile.imprintPhone is not empty %}
                            <div class="tel">{{ i18n('tel') }}: {{ profile.imprintPhone }}</div>
                        {% endif %}
                        {% if profile.imprintFax is not empty %}
                            <div class="fax">{{ i18n('fax') }}: {{ profile.imprintFax }}</div>
                        {% endif %}
                    </div>
                    <div class="contact lower">
                        {% if profile.imprintWebsite is not empty %}
                            <div class="web">{{ i18n('web') }}:
                                <div><a href="http://{{ profile.imprintWebsite }}" target="_blank"
                                        class="link">{{ profile.imprintWebsite }}</a></div>
                            </div>
                        {% endif %}
                        {% if profile.imprintEmail is not empty %}
                            <div class="mail">{{ i18n('email') }}: {{ profile.imprintEmail }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
