<div class="slider slider--top">

    {% for insertion in insertions %}
        <div class="slide">
            <a href="/insertions/detail/{{ insertion.id }}">
                {% if insertion.media is defined and insertion.media|length > 0 and insertion.media[0].content is defined %}
                    <img src="{{ media(insertion.media[0].content, 200) }}" alt="{{ insertion.content[0].name }}"
                         class="slide__image">
                {% else %}
                    <!-- TODO add dummy image -->
                    <img src="https://placeponi.es/300/300" alt="ponie" class="slide__image">
                {% endif %}
                <p>{{ insertion.content[0].name }}</p>
            </a>
        </div>
        {{ dump(insertion) }}
    {% endfor %}
</div>