{% block content_header_part %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <a href="{{url('backend_favorites_toggle')}}?name={{meta.route.name}}" class="favorite" title="{{ i18n('backend_toggle_title') }}" >
                {% if isFavorite(meta.route.name) %}
                    <span class="glyphicon glyphicon-star"></span> 
                {% else %}
                    <span class="glyphicon glyphicon-star-empty"></span>
                {% endif %}
            </a>
            {% set current = backend_breadcrumbs(meta.route.name)|last %}

            {% if page_header %}{{ page_header }}{% else %}{{ i18n(current.name) }}{% endif %}
            {% if page_header_description  %}<small>{{ page_header_description }}</small>{% endif %}
        </h1>
        {% include 'Backend/Master/Components/Content/BreadCrumbs.twig' %}

    </section>
{% endblock %}